<div class="footer">
    <img src="img/SIGLA-CRED1.png" alt="logo CRED">
    <p>
        Pentru a vă ajuta în efortul de elaborare a Resurselor Educaționale Deschise, aducem în atenția dumneavoastră un portal elaborat în cadrul proiectului cu scopul de a vă oferi sprijin: <a href="http://digital.educred.ro">digital.educred.ro</a>
    </p>
    <img src="img/digitalPeEducred.png" alt="fragment din headerul digital.educred.ro">
    <p>
        Acest spațiu a fost creat pentru toți profesorii care doresc să valorifice noile tehnologii în activitățile de învățare cu elevii, valorificând experiența și rezultatele obținute până acum în proiectul CRED (<a href="https://www.educred.ro/" target="_black">site</a> si <a href="https://www.facebook.com/ProiectulCRED/" target="_blank">pagina Facebook</a>). Ne dorim astfel să contribuim la dezvoltarea competențelor cadrelor didactice de a utiliza și de a dezvolta resurse educaționale deschise (<a href="https://www.youtube.com/watch?v=d_Xov5X2iMk&t=230s">RED</a>). În egală măsură, așteptăm  ca în timp acest spațiu să susțină comunități de învățare dedicate resurselor educaționale deschise.
    </p>
    <p>
        Pentru alte propuneri, inclusiv de grupuri de bune practici în educație, ne puteți scrie la adresa resurse@educred.ro
    </p>
</div>