<section id="footer">
    <div id="projectdescr">
        <p>Aplicație creată în cadrul proiectului <em>CRED-Curriculum relevant, educație deschisă pentru toți</em>– cod SMIS 2014+:118327
Proiect cofinanțat din Fondul Social European prin Programul Operațional Capital Uman 2014-2020</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#"><img src="/img/intrumentestructurale-1.png" alt="Instrumente Structurale logo."></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/img/ue-1.png" alt="Uniunea Europeană logo."></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="/img/guvern-1.png" alt="Uniunea Europeană logo."></a>
            </li>
        </ul>
    </div>
    <div itemprop="license" id="licenta">
        Accesarea textelor și ale resurselor necesare constituirii site-ului și a contextelor de prezentare ale resurselor vă sunt oferite sub următoarea notă privind drepturile de autor: </br>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licenţa Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Această operă este pusă la dispoziţie sub <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licenţa Creative Commons Atribuire 4.0 Internațional </a>.
    </div>
</section>