<div id="licenta">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Licenţa Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a>
    <br />Această operă este pusă la dispoziţie sub <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licenţa Creative Commons Atribuire 4.0 Internațional </a>.
</div>