    <footer class="py-4 bg-light">
        <div class="container">
            <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="small text-muted">
                    <p class="m-0 text-left">
                        Aplicație dezvoltată în cadrul proiectului european CRED-Curriculum relevant cod SMIS 2014+:118327. Dezvoltarea actuală a acestei ramuri a apărut din necesitatea de a implementa noi mecanisme și modele de date.<br/>
                        <img src="/{{template}}/img/repologo.png" alt="Kolector este o dezvoltate a Colectorului RED" height="60" />
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="small text-muted">
                    <p class="m-0 text-right"> Accesarea textelor, a resurselor necesare constituirii site-ului și a contextelor de prezentare vă sunt oferite sub următoarea notă privind drepturile de autor:<br/>
                        <strong>Această operă este pusă la dispoziţie sub Licenţa Creative Commons Atribuire 4.0 Internațional</strong><br>
                        <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
                            <img src="/{{template}}/img/cc-image.png" alt="Această operă este pusă la dispoziţie sub Licenţa Creative Commons Atribuire 4.0 Internațional" title="Această operă este pusă la dispoziţie sub Licenţa Creative Commons Atribuire 4.0 Internațional" height="34" />
                        </a>
                    </p>
                </div>
            </div>
            </div>
        </div>
    </footer>