<div class="container">
  {{>messages}}

  <section id="tabular">
    <div id="inputDataTable"></div>
  </section>
  {{#each scripts}}
    <script src="{{script}}"></script>
  {{/each}}

</div>
  <form id="form01adres">

    <div class="form-row">
      <script type="application/javascript">
        function addTitle (idSource, idTarget) {
          document.querySelector(idSource).addEventListener('blur', (event) => {
            let insertion = document.querySelector(idTarget);
            let liElem = document.createElement('li');
            const cls = ["list-group-item","d-flex","justify-content-between","align-items-center"];
            liElem.classList.add(...cls);
          });
        }
      </script>
      <div class="col-md-6 mb-3">
        <label for="title">Titlul resursei</label>
        <input class="form-control" type="text" name="title" id="title" aria-describedby="titleHelp" placeholder="ex: Bătălia de la Călugăreni" required>
        <small id="titleHelp" class="form-text text-muted">Este un element absolut necesar</small>
      </div>
      <div class="col-md-1 mb-1">
        <label class="my-1 mr-2" for="limbaTitlu">Indică limba</label>
        <select class="custom-select" id="limbaTitlu">
          <option value="rum" selected>ro</option>
          <option value="ger">ger</option>
          <option value="hun">hun</option>
          <option value="srp">srp</option>
          <option value="rom">rom</option>
          <option value="slo">slo</option>
          <option value="cze">cze</option>
          <option value="ukr">ukr</option>
          <option value="bul">bul</option>
          <option value="hrv">hrv</option> 
          <option value="ita">ita</option> 
          <option value="gre">gre</option>
          <option value="rus">rus</option>
          <option value="tur">tur</option>
        </select>
        <ul id="titluri" class="list-group">

        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-primary">+ limba maternă</button>

    {{!-- <div class="form-group">
      <label for="numeprenume">Nume Prenume autor:</label>
      <input name="nume-prenume" type="text" class="form-control" id="numeprenume" aria-describedby="numeprenumeHelp" placeholder="ex: Adriana Vasilescu">
      <small id="numeprenumeHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="denumireres">Denumire resursă:</label>
      <input name="denumire-res" type="text" class="form-control" id="denumireres" aria-describedby="denresHelp" placeholder="ex: Bătălia de la Călugăreni">
      <small id="denresHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="descriereres">Descriere:</label>
      <input name="descriere-res" type="text" class="form-control" id="descriereres" aria-describedby="descriereresHelp" placeholder="">
      <small id="descriereresHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="scopMaterial">Scopul materialului propus</label>
      <select name="scop-material" class="form-control" id="scopMaterial">
        <option>didactic</option>
        <option>pentru elev</option>
        <option>documentare cadre didactice</option>
      </select>
      <label for="alteScopuri">Alte scopuri</label>
      <input name="alt-scop" type="text" class="form-control" id="alteScopuri" aria-describedby="alteScopuriHelp" placeholder="">
      <small id="alteScopuriHelp" class="form-text text-muted"></small>
      <button disabled="disabled">Adaugă scop nou</button>
    </div>
    <div class="form-group">
      <label name="nivel-invatamant" for="nivelInvatamant">Nivel Învățământ</label>
      <select multiple class="form-control" id="nivelInvatamant">
        <option>Clasa 1</option>
        <option>Clasa a II-a</option>
        <option>Clasa a III-a</option>
        <option>Clasa a IV-a</option>
        <option>Clasa a V-a</option>
        <option>Clasa a VI-a</option>
        <option>Clasa a VII-a</option>
        <option>Clasa a VIII-a</option>
      </select>
    </div>
    <div class="form-group">
      <label for="arieCurriculara">Arie curiculară</label>
      <select multiple name="arie-curriculara" class="form-control" id="arieCurriculara">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
    </div>
    <div class="form-group">
      <label for="competenteVizate">Competențe vizate</label>
      <select multiple name="competente-vizate" class="form-control" id="competenteVizate">
        <option>X</option>
        <option>Y</option>
        <option>Z</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="materialExtraCurr">
      <label name="material-extrac" class="form-check-label" for="materialExtraCurr">
        Material extracurricular?
      </label>
    </div>
    <div class="form-group">
      <label for="adaugaPachet">Adaugă arhivă zip</label>
      <input type="file" name="arhiva" class="form-control-file" id="adaugaPachet">
    </div>
    <button type="submit" id="addresbtn" class="btn btn-primary">Trimite</button> --}}
  </form>
</div>
<script>
  // EVENIMENT la încărcarcarea completă a DOM-ului
{{!-- document.addEventListener('DOMContentLoaded', init);
function init () {
    document.getElementById('addresbtn').addEventListener('click', upload);
}
function upload (evt) {
    evt.preventDefault();

    // Constituirea headerelor
    let headers = new Headers();
    headers.append('Accept', 'application/json'); // Accept un răspuns de tip JSON
    
    // Culegerea datelor din form
    let form01adres = new FormData();   // Obiectul de colectare a tuturor datelor din formular
    form01adres.append('nume-prenume', document.querySelector('#numeprenume'));


    let arhiva = document.querySelector('#adaugaPachet').files[0];
    form01adres.append('arhiva', arhiva, 'arhiva.zip');

    var url = document.location;
    let req = new Request(url, {
        method: 'POST',
        headers: headers,
        mode: 'cors',
        body: form01adres
    });

    fetch(req).then((response) => {
        document.querySelector('#confirmare').textContent = "Mesaj de la server: ";
    }).catch((error) => {
        console.log('ERROR', err.message);
    });
} --}}
</script>

