<div class="container">
  {{>messages}}
  {{!-- Editor.js --}}
  {{!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.15.0/dist/editor.min.js"></script>
  {{!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.3.0/dist/bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@groupher/editor-header@2.3.0/dist/bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  {{!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/attaches@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@2.2.1/dist/bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@2.4.1/dist/bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@1.3.0/dist/bundle.min.js"></script>


  <div class="justify-content-center mt-4">
    {{!-- Progress bar --}}
    <div class="progress" style="height: 3rem;">
      <div id="progressBar" class="progress-bar bg-danger" role="progressbar" style="width:25%;">
        <b id="progressText" class="lead">Pasul 1</b>
      </div>
    </div>
    {{!-- Progress bar END --}}

    {{!-- Inițiere FORM --}}
    <form id="form01adres" class="" method="post" enctype="multipart/form-data">
      {{!-- ÎNCEPUT FORM --}}
      <div id="accordionFrm" class="p-4 rounded">

        {{!-- SECȚIUNEA - #1. TITLU ȘI RESPONSABILITATE (vezi modelul de date resursa-red.js) --}}
        <div id="unu" class="card card-image">
        {{!-- <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);"> --}}
          
          {{!-- Acționarea grupului de controale pentru #1 --}}
          <div class="card-header" id="heading01">
            <h5 class="text-light text-center rounded bg-danger p-2">Titlu și responsabilitate</h5>
          </div>
          {{!-- Acționarea grupului de controale pentru #1 END--}}

          {{!-- Grupul controale - Titlu și responsabilitate [form-group] --}}
          <div id="sec01" class="form-group card-body" aria-labelledby="heading01" data-parent="#accordionFrm">
            <fieldset>
              <legend>Titlul resursei</legend>
              {{!-- Câmpul titlului --}}
              <div id="titluRes" class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="titlu-label">Titlul resursei în limba română</span>
                </div>

                {{!-- INPUT - TITLU --}}
                <input id="titlu-res" class="form-control" type="text" name="titlu" aria-label="Titlul resursei" aria-describedby="titlu-label" placeholder="ex: Bătălia de la Călugăreni" required >
                {{!-- Validare -Helper afisare text direct / Am ales să folosesc toastmessage [plugin]--}}
                <strong id="titluErr" class="form-text text-danger"></strong>

                {{!-- Specifică limba titlului --}}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="langselect-label">Indică limba</span>
                </div>
                {{!-- Opțiunile de selecție pentru limbă --}}
                <select id="langRED" class="custom-select col-6 col-lg-4" aria-describedby="langselect-label">
                  <option value="rum" selected>română</option>
                  <option value="ger">germană</option>
                  <option value="hun">maghiară</option>
                  <option value="srp">sârbă</option>
                  <option value="rom">rromani</option>
                  <option value="slo">slovenă</option>
                  <option value="cze">cehă</option>
                  <option value="ukr">ucraineană</option>
                  <option value="bul">bulgară</option>
                  <option value="hrv">croată</option> 
                  <option value="ita">italiană</option> 
                  <option value="gre">greacă</option>
                  <option value="rus">rusă</option>
                  <option value="tur">turcă</option>
                </select>
              </div>
              {{!-- Buton de adăugare câmpuri noi pentru variantele în alte limbi ale titlurilor [vezi form01adres.js] --}}
              <button id="titluLangAdd" class="btn btn-outline-secondary m-2" type="button" onclick="creeazaTitluAlternativ()">+ în altă limbă</button>
              <div id="langAlternative">
                {{!-- AICI SUNT INRODUSE TITLURILE ALTERNATIVE (dynamic) --}}
              </div>
            </fieldset>
            {{!-- MENȚIUNEA DE RESPONSABILITATE --}}
            <fieldset>
              <legend>Responsabilitate (contribuitor)</legend>
              {{!-- Adăugarea userului care propune resursa --}}
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nume și prenume</span>
                  </div>
                  {{!-- INPUT Persoana responsabilă --}}
                  <input id="responsabil" type="text" aria-label="Nume și prenume" class="form-control" value="{{user.googleProfile.name}}" required>
                  <input id="emailUser" name="emailUser" type="hidden" value="{{user.email}}">
              </div>
              {{!-- Adăugarea userului care propune resursa END --}}
            </fieldset>
            {{!-- MENȚIUNEA DE RESPONSABILITATE END --}}

            {{!-- Descrierea resursei educaționale --}}
            <fieldset>
              <legend>O scurtă descriere a resursei</legend>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Maxim două paragrafe...</span>
                </div>
                <textarea id="descriereRed" class="form-control" aria-label="Descrierea resursei" rows="3"></textarea>
              </div>
            </fieldset>
            {{!-- Descrierea resursei educaționale END --}}
            <fieldset>
              <legend>Alegerea licenței resursei</legend>
              {{!-- LICENȚIEREA RESURSEI --}}
              <div class="input-group mb-3">
                <div class="alert alert-warning" role="alert">
                  <p>Pentru a crește nivelul de implicare și gradul de refolosire a materialelor puse la dispoziție, a fost aleasă licența Creative Commons „Atribuire”</p>
                </div>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="licente">Licențe disponibile</label>
                </div>
                <select id="licente" class="custom-select">
                  <optgroup label="Creative Commons">
                    <option selected value="CC BY">Atribuire CC BY</option>
                    <option value="CC BY-SA">Atribuire - Distribuire în condiţii identice CC BY-SA</option>
                    <option value="CC BY-ND">Atribuire-FărăModificări CC BY-ND</option>
                    <option value="CC BY-NC">Atribuire-Necomercial CC BY-NC</option>
                    <option value="CC BY-NC-SA">Atribuire-Necomercial-Distribuire în Condiţii Identice CC BY-NC-SA</option>
                    <option value="CC BY-NC-ND">Atribuire-Necomercial-FărăModificări CC BY-NC-ND</option>
                  </optgroup>
                  <option value="GPLv3">GNU General Public License</option>
                </select> 
              </div>
              <p>Despre licențele Creative Commons puteți citi mai multe la <a href="https://creativecommons.org/licenses/?lang=ro">„Despre licențe”</a>. Despre efectele și aria de protecție pentru fiecare licență în parte consultă și <a href="https://creativecommons.org/choose/?lang=ro">„Distribuie-ți opera”</a></p>
              <p>Despre licența <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License</a> puteți să aflați mai multe de la <a href="https://ro.wikipedia.org/wiki/Licen%C8%9Ba_Public%C4%83_General%C4%83_GNU">articolul Wikipedia dedicat</a></p>
              {{!-- LICENȚIEREA RESURSEI  END --}}
            </fieldset>
          </div>
          {{!-- Grupul controale - Titlu și responsabilitate [form-group] END --}}

          {{!-- Avans către pasul 2 [form-group] --}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-1" class="btn btn-success card-link">Mergi la pasul 2</a>
          </div>
          {{!-- Avans către pasul 2 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #1. TITLU ȘI RESPONSABILITATE END --}}

        {{!-- SECȚIUNEA - #2. ÎNCADRAREA RESURSEI ÎN CONTEXTUL CURRICULEI --}}
        <div id="doi" class="card">
          {{!-- Acționarea grupului de controale pentru #2 --}}
          <div class="card-header" id="heading02">
            <h5 class="text-light rounded text-center bg-danger p-2">Încadrarea resursei</h5>
          </div>
          {{!-- Acționarea grupului de controale pentru #2 END --}}

          {{!-- Încadrarea resursei conform Planului Național [form-group] --}}
          <div id="sec02" class="form-group card-body" aria-labelledby="heading02" data-parent="#accordionFrm">
            {{!-- Selectări de arie --}}
            <fieldset>
              <legend>Arie curriculară</legend>
              {{!-- ARIE - Selector În caz de selecție multiplă, avem un caz de transdisciplinaritate--}}
              <div class="form-group">
                <p>Selectarea corectă a arie este primul criteriu de încadrare a resursei. Se poate opta pentru mai multe arii curriculare atunci când resursa are un caracter transversal.</p>
                <select id="arii-curr" class="form-control custom-select" multiple>
                  <optgroup label="Limbă și comunicare">
                    <option value="LbCom">Limbă și comunicare [general]</option>
                    <option value="LbComLbRomMin">» Limba și literatura romana (pt. elevi care învață în limba maternă)</option>
                    <option value="LbComLbMat">» Limbi materne</option>
                    <option value="LbComLbMod">» Limbi moderne</option>
                  </optgroup>
                  <option value="MatStNat">Matematică și științe ale naturii</option>
                  <optgroup label="Om și societate">
                    <option value="OmSiSoc">Om și societate [general]</option>
                    <option value="OmSiSocIstMin">» Istorie minorități</option>
                    <option value="OmSiSocRel">» Religii</option>
                  </optgroup>
                  <option value="Arte">Arte</option>
                  <optgroup label="Educație fizică și sport">
                    <option value="EdFizSiSp">Educație fizică și sport [general]</option>
                    <option value="EdFizSiSpPrSpPra">» Pregătire sportivă practică</option>              
                  </optgroup>
                  <option value="Teh">Tehnologii</option>
                  <option value="ConsOri">Consiliere și orientare</option>
                  <option value="CurrDecSco">Curriculum la decizia școlii</option>
                </select>
              </div>
              {{!-- Validare arie curriculară --}}
              <strong id="currErr" class="form-text text-danger"></strong>
            </fieldset>
            {{!-- Selectări arie - END --}}

            {{!-- Selectarea nivelului de școlarizare --}}
            <fieldset>
              <legend>Nivel școlar</legend>
              <div id="nivel">
                {{!-- PRIMAR --}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox0" value="cl0"  
                  data-arteviz0="Arte vizuale și abilități practice" 
                  data-matexpmed0="Matematică și explorarea mediului" 
                  data-comlbrom0="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox1">Cl. preg.</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox1" value="cl1"  
                  data-arteviz1="Arte vizuale și abilități practice" 
                  data-matexpmed1="Matematică și explorarea mediului" 
                  data-comlbrom01="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox1">Cl. I</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox2" value="cl2"  
                  data-arteviz2="Arte vizuale și abilități practice" 
                  data-matexpmed2="Matematică și explorarea mediului" 
                  data-comlbrom2="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox2">Cl. a II-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox3" value="cl3"  
                  data-arteviz3="Arte vizuale și abilități practice" 
                  data-stanat3="Științele naturii" 
                  data-comlbrom3="Limba și literatura română" 
                  data-edciv3="Educaţie civică" 
                  data-jocmi3="Joc și mișcare">
                  <label class="form-check-label" for="inlineCheckbox3">Cl. a III-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox4" value="cl4"  
                  data-arteviz4="Arte vizuale și abilități practice" 
                  data-stanat4="Științele naturii" 
                  data-comlbrom4="Limba și literatura română" 
                  data-edciv4="Educaţie civică" 
                  data-geo4="Geografie" 
                  data-ist4="Istorie" 
                  data-jocmi4="Joc și mișcare">
                  <label class="form-check-label" for="inlineCheckbox4">Cl. a IV-a</label>
                </div>
                {{!-- PRIMAR END --}}
                {{!-- GIMANZIU --}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox5" value="cl5"  >
                  <label class="form-check-label" for="inlineCheckbox5">Cl. a V-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox6" value="cl6" >
                  <label class="form-check-label" for="inlineCheckbox6">Cl. a VI-a</label>
                </div>
                <div class="form-check form-check-inline nivel">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="cl7"  >
                  <label class="form-check-label" for="inlineCheckbox7">Cl. a VII-a</label>
                </div>
                <div class="form-check form-check-inline nivel">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="cl8"  >
                  <label class="form-check-label" for="inlineCheckbox8">Cl. a VIII-a</label>
                </div>
                {{!-- GIMANZIU END--}}
              </div>
              {{!-- Selectarea nivelului de școlarizare END --}}

            </fieldset>
            {{!-- Selectarea nivelului de școlarizare - END --}}

            {{!-- Alegerea dinamică a disciplinelor în funcție de selectarea nivelului școlar --}}
            <fieldset>
              <legend>Alege disciplinele</legend>
              <h4>Selectarea disciplinei sau a mai multora încarcă competențele specifice</h4>
              <p>Pentru a avea acces la comptențele specifice și implicit la activitățile proprii, cât și pentru a propune noi activități inexistente, se va alege unul din nivelurile de școlarizare.</p>
              <p>Odată selectat nivelul, se vor încărca disciplinele aferente acelui nivel, dintre care se vor alege cele pentru care resursa propusă răspunde</p>
              
              {{!-- Încărcarea DISCIPLINELOR --}}
              <div id="discipline">
                {{!-- disciplinele sunt adaugate programatic in functie de selectia nivelului de școlarizare --}}
              </div>
              {{!-- Încărcarea DISCIPLINELOR END --}}
            </fieldset>
            {{!-- Alegerea dinamică a disciplinelor în funcție de selectarea nivelului școlar END--}}

            {{!-- Butonul de afișare a competențelor specifice va fi ascuns până când nu este selectată o disciplină. Previne erorile de apăsare fără selecție disc. --}}
            <button id="actTable" class="d-none btn btn-warning" type="button" data-toggle="collapse" data-target="#csuri" aria-expanded="false" aria-controls="csuri">Alege competențele specifice</button>
            
            {{!-- TABEL competențele specifice alese în funcție de opțiunea disciplinelor --}}
            <div class="collapse" id="csuri">
              <table id="competenteS" class="table table-striped table-bordered" style="width:100%"></table>
            </div>
            {{!-- TABEL competențele specifice alese în funcție de opțiunea disciplinelor END--}}
          </div>
          {{!-- Încadrarea resursei conform Planului Național [form-group] END --}}

          {{!-- Avans către pasul 3 / Înapoi la pasul 1 [form-group]--}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-2" class="btn btn-success card-link">Înapoi la pasul 1</a>
            <a href="#" id="next-3" class="btn btn-success card-link">Mergi la pasul 3</a>
          </div>
          {{!-- Avans către pasul 3 / Înapoi la pasul 1 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #2. ÎNCADRAREA RESURSEI ÎN CONTEXTUL CURRICULEI END--}}

        {{!-- SECȚIUNEA - #3 Încarcă materialele --}}
        <div id="trei" class="card">
          {{!-- Acționarea grupului de controale pentru #2 --}}
          <div class="card-header" id="heading03">
            <h5 class="text-light rounded text-center bg-danger p-2">Validarea resursei prin specificitate</h5>
          </div>
          
          {{!-- Încărcarea fișierelor sau a fragmentului [form-group] --}}
          <div id="sec03" class="form-group card-body" aria-labelledby="heading03" data-parent="#accordionFrm">
            {{!-- ELEMENTE NECESARE PENTRU VALIDAREA RESURSEI --}}
            <fieldset>
              <legend>Elemente obligatorii pentru validarea resursei</legend>
              <p>Pentru a selecta mai multe, apasă SHIFT și click pe cel pe care dorești să-l adaugi</p>

              {{!-- GRUPURILE ȚINTĂ --}}
              <div class="form-group">
                <label for="valid-grup">Selectează un grup țintă sau mai multe.</label>
                <select multiple class="form-control" id="valid-grup">
                  <option value="elev">elev</option>
                  <option value="profesor">profesor</option>
                  <option value="aparținator">aparținător</option>
                </select>
              </div>
              {{!-- GRUPURILE ȚINTĂ END--}}

              {{!-- LATURI --}}
              <div class="form-group">
                <label for="valid-laturi">Selectează laturile.</label>
                <select multiple class="form-control" id="valid-laturi">
                  <optgroup label="cognitiv">
                    <option value="descoperire">descoperire</option>
                    <option value="experimentare">experimentare</option>
                  </optgroup>
                  <option value="psiho-motor">psiho-motor</option>
                  <option value="afectiv">afectiv</option>
                  <option value="social">social</option>
                </select>
              </div>
              {{!-- LATURI END --}}

              {{!-- FUNCȚII --}}
              <div class="form-group">
                <label for="valid-functii">Selectează funcțiile.</label>
                <select multiple class="form-control" id="valid-functii">
                  <option value="cunostinte noi">cunoștințe noi („predare”, „explicare”)</option>
                  <option value="acomodare">acomodare</option>
                  <option value="actualizare">actualizare</option>
                  <option value="aprofundare">aprofundare</option>
                  <option value="recapitulare">recapitulare</option>
                  <option value="evaluare">evaluare</option>
                </select>
              </div>
              {{!-- FUNCȚII END --}}

              {{!-- DEMERSURI --}}
              <div class="form-group">
                <label for="valid-demersuri">Selectează demersurile.</label>
                <select class="form-control" id="valid-demersuri">
                  <option value="inductiv">inductiv</option>
                  <option value="deductiv">deductiv</option>
                  <option value="dialectic">dialectic</option>
                  <option value="analogic">analogic</option>
                </select>
              </div>
              {{!-- DEMERSURI END --}}

              {{!-- MODELE --}}
              <div class="form-group">
                <label for="valid-modele">Selectează modelul urmărit.</label>
                <select class="form-control" id="valid-modele">
                  <option value="expozitiv">expozitiv</option>
                  <option value="narativ">narativ</option>
                </select>
              </div>
              {{!-- MODELE END --}}

              {{!-- ORGANIZARE --}}
              <div class="form-group">
                <label for="valid-organizare">Selectează modelul urmărit.</label>
                <select class="form-control" id="valid-organizare">
                  <option value="la clasă">la clasă</option>
                  <option value="individual">individual</option>
                  <option value="grupat">grupat</option>
                </select>
              </div>
              {{!-- ORGANIZARE END--}}
                
              {{!-- SPAȚII --}}
              <div class="form-group">
                <label for="valid-spatii">Selectează spațiul de desfășurare.</label>
                <select multiple class="form-control" id="valid-spatii">
                  <option value="la clasă">la clasă</option>
                  <option value="acasă">acasă</option>
                  <option value="laborator">în laborator</option>
                  <option value="în aer liber">în aer liber</option>
                </select>
              </div>
              {{!-- SPAȚII END --}}

            </fieldset>
            {{!-- ELEMENTE NECESARE PENTRU VALIDAREA RESURSEI END --}}

            {{!-- Bibliografie --}}
            <fieldset>
              <legend>Introducerea bibliografiei</legend>
              <p>Fiecare referință bibliografică va ocupa un singur rând.</p>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Bibliografie (APA6)</span>
                </div>
                <textarea id="bibliografie" class="form-control" aria-label="Bibliografia" rows="3"></textarea>
              </div>
            </fieldset>
            {{!-- Bibliografie END --}}
          </div>
          {{!-- Încărcarea fișierelor sau a fragmentului [form-group] END--}}
          
          {{!-- ETICHETE --}}
          <div id="etichete"></div>
          {{!-- ETICHETE END --}}

          {{!-- Avans către pasul 5 / Înapoi la pasul 4 [form-group]--}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-4" class="btn btn-success card-link">Înapoi la pasul 2</a>
            <a href="#" id="next-5" class="btn btn-success card-link">Mergi la pasul 4</a>
          </div>
          {{!-- Avans către pasul 5 / Înapoi la pasul 4 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #3 Încarcă materialele END --}}
      </div>
      {{!-- FORM END --}}
    </form>

    {{!-- SECȚIUNEA - #4 Încarcă adiționale Această secțiune este în afara formului --}}
    <div id="patru" class="card">
      {{!-- Acționarea grupului de controale pentru #2 --}}
      <div class="card-header" id="heading04">
        <h5 class="text-light rounded text-center bg-danger p-2">Încarcă fișiere și introdu conținutul, dacă acesta este de întindere medie</h5>
      </div>

      {{!-- Verificarea fișei și constituirea înregistrării [form-group] --}}
      <div id="sec04" class="form-group card-body" aria-labelledby="heading04" data-parent="#accordionFrm">
        {{!-- EDITOR pentru introducerea letrică --}}
        <fieldset>
          <legend>Editorul materialelor care constituie RED-ul</legend>
          {{!-- Integrarea editorului de text --}}
          <div id="codex-editor"></div>
          <button id="continutRes">Salvează conținutul</button>

        </fieldset>
        {{!-- EDITOR pentru introducerea letrică END --}}
      </div>
      {{!-- Verificarea fișei și constituirea înregistrării [form-group] END--}}

      {{!-- Înapoi la pasul 4 [form-group]--}}
      <div class="form-group align-self-center m-4">
        <a href="#" id="next-6" class="btn btn-success card-link">Înapoi la pasul 3</a>
      </div>
      {{!-- Înapoi la pasul 4 [form-group] END --}}

      <div id="submitWrap" class="form-group card-body" data-parent="#accordionFrm">
        <button id="submit" type="submit" class="btn btn-danger">Adaugă resursa</button>
      </div>
    </div>
    {{!-- SECȚIUNEA - #4 Verifică fișa și trimite resursa END --}}


    {{!-- <div class="form-group">
      <label for="adaugaPachet">Adaugă arhivă zip</label>
      <input type="file" name="arhiva" class="form-control-file" id="adaugaPachet">
    </div>
    <button type="submit" id="addresbtn" class="btn btn-primary">Trimite</button> --}}
    </div>
      
  </div>
</div>

{{#each scripts}}
  <script src="{{script}}"></script>
{{/each}}

<script>
  /**
  * Funcția are rolul de a adăuga un titlu într-o listă de control
  * De fapt, creează un nou element input și ul nou selector de limbă pentru elementul input:text nou creat
  * @param {String} idSource este elementul input:text în care a fost introdus un titlu
  * @param {String} idTraget este elementul ul în care apar titlurile
  */
  function addToList (idSource, idTarget) {
    document.querySelector(idSource).addEventListener('blur', (event) => {
      let insertion = document.querySelector(idTarget);
      let liElem = document.createElement('li');
      const cls = ["list-group-item","d-flex","justify-content-between","align-items-center"];
      liElem.classList.add(...cls);
      //TODO: Termină implementarea cândva, dacă mai este nevoie
    });
  }
</script>

