<div class="container">
  {{>messages}}

  {{!-- <section id="tabular">
    <div id="inputDataTable"></div>
  </section> --}}
  {{#each scripts}}
    <script src="{{script}}"></script>
  {{/each}}

  {{!-- Inițiere form --}}
  <form id="form01adres">
    {{!-- SECȚIUNEA - #2. TITLU ȘI RESPONSABILITATE (vezi modelul de date resursa-red.js) --}}
    {{!-- Acționarea grupului de controale pentru #2 --}}
    <button class="btn btn-primary btn-lg btn-block collapsed" data-toggle="collapse" data-target="#sec02" aria-expanded="true" aria-controls="sec02">
      Titlu și responsabilitate
    </button>
    {{!-- Grupul controale Titlu și responsabilitate --}}
    <div id="sec02" class="collapse">
      <fieldset>
        <legend></legend>
        {{!-- Câmpul titlu --}}
        <div class="input-group col-12 col-sm-6 col-lg-8">
          <div class="input-group-prepend">
            <span class="input-group-text" id="titlu-label">Titlul resursei</span>
          </div>
          <input class="form-control" type="text" name="title" id="title"  aria-label="Titlul resursei" aria-describedby="titlu-label" placeholder="ex: Bătălia de la Călugăreni" required>
        </div>

        <div class="input-group col-6 col-lg-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="langselect-label">Indică limba</span>
          </div>
          <select class="custom-select" id="limbaTitlu" aria-describedby="langselect-label">
            <option value="rum" selected>ro</option>
            <option value="ger">ger</option>
            <option value="hun">hun</option>
            <option value="srp">srp</option>
            <option value="rom">rom</option>
            <option value="slo">slo</option>
            <option value="cze">cze</option>
            <option value="ukr">ukr</option>
            <option value="bul">bul</option>
            <option value="hrv">hrv</option> 
            <option value="ita">ita</option> 
            <option value="gre">gre</option>
            <option value="rus">rus</option>
            <option value="tur">tur</option>
          </select>
          <div class="input-group-prepend" id="button-add-tit-lang">
            <button class="btn btn-outline-secondary" type="button">+ în altă limbă</button>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Nume și prenume</span>
            </div>
            <input type="text" aria-label="Nume și prenume" class="form-control">
          </div>
        </div>
      </fieldset>

      <ul id="titluri" class="list-group">

      </ul>
    </div>

    {{!-- SECȚIUNEA - #3. ÎNCADRAREA RESURSEI ÎN CONTEXTUL CURRICULEI --}}
    {{!-- Acționarea grupului de controale pentru #3 --}}
    <button class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#sec03" aria-expanded="true" aria-controls="sec03">
      Încadrarea resursei
    </button>
    {{!-- Grupul controale Încadrarea resursei conform Planului Național --}}
    <div id="sec03" class="collapse">
      <fieldset>
        <legend>Arie - Nivel - Disciplină</legend>
        {{!-- ARIE - Selector --}}
        <div class="input-group">
          <select class="custom-select" id="arii-curr">
            <optgroup label="Limbă și comunicare">
              <option value="LbCom">Limbă și comunicare [general]</option>
              <option value="LbComLbRomMin">» Limba și literatura romana (pt. elevi care învață în limba maternă)</option>
              <option value="LbComLbMat">» Limbi materne</option>
              <option value="LbComLbMod">» Limbi moderne</option>
            </optgroup>
            <option value="MatStNat">Matematică și științe ale naturii</option>
            <optgroup label="Om și societate">
              <option value="OmSiSoc">Om și societate [general]</option>
              <option value="OmSiSocIstMin">» Istorie minorități</option>
              <option value="OmSiSocRel">» Religii</option>
            </optgroup>
            <option value="Arte">Arte</option>
            <optgroup label="Educație fizică și sport">
              <option value="EdFizSiSp">Educație fizică și sport [general]</option>
              <option value="EdFizSiSpPrSpPra">» Pregătire sportivă practică</option>              
            </optgroup>
            <option value="Teh">Tehnologii</option>
            <option value="ConsOri">Consiliere și orientare</option>
            <option value="CurrDecSco">Curriculum la decizia școlii</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Încadrează!</button>
          </div>
        </div>
        {{!-- Selecție în caz de transdisciplinaritate --}}
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#transCurricular" aria-expanded="false" aria-controls="transCurricular">
            Este în relație cu alte zone curriculare
          </button>
        </p>
        <div class="collapse" id="transCurricular">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="checkbox" name="LbComLbRomMin" id="LbComLbRomMin" autocomplete="off"> Limba și literatura romana (pt. elevi care învață în limba maternă)
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="LbComLbMat" id="LbComLbMat" autocomplete="off"> Limbi materne
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="LbComLbMod" id="LbComLbMod" autocomplete="off"> Limbi moderne
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="MatStNat" id="MatStNat" autocomplete="off"> Matematică și științe ale naturii
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="OmSiSocIstMin" id="OmSiSocIstMin" autocomplete="off"> Istorie minorități
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="OmSiSocRel" id="OmSiSocRel" autocomplete="off"> Religii
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="Arte" id="Arte" autocomplete="off"> Arte
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="EdFizSiSpPrSpPra" id="EdFizSiSpPrSpPra" autocomplete="off"> Pregătire sportivă practică
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="Teh" id="Teh" autocomplete="off"> Tehnologii
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="ConsOri" id="ConsOri" autocomplete="off"> Consiliere și orientare
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="CurrDecSco" id="CurrDecSco" autocomplete="off"> Curriculum la decizia școlii
          </label>
        </div>
      </fieldset>
    </div>

    {{!-- <div class="form-group">
      <label for="numeprenume">Nume Prenume autor:</label>
      <input name="nume-prenume" type="text" class="form-control" id="numeprenume" aria-describedby="numeprenumeHelp" placeholder="ex: Adriana Vasilescu">
      <small id="numeprenumeHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="denumireres">Denumire resursă:</label>
      <input name="denumire-res" type="text" class="form-control" id="denumireres" aria-describedby="denresHelp" placeholder="ex: Bătălia de la Călugăreni">
      <small id="denresHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="descriereres">Descriere:</label>
      <input name="descriere-res" type="text" class="form-control" id="descriereres" aria-describedby="descriereresHelp" placeholder="">
      <small id="descriereresHelp" class="form-text text-muted">Este un element absolut necesar</small>
    </div>
    <div class="form-group">
      <label for="scopMaterial">Scopul materialului propus</label>
      <select name="scop-material" class="form-control" id="scopMaterial">
        <option>didactic</option>
        <option>pentru elev</option>
        <option>documentare cadre didactice</option>
      </select>
      <label for="alteScopuri">Alte scopuri</label>
      <input name="alt-scop" type="text" class="form-control" id="alteScopuri" aria-describedby="alteScopuriHelp" placeholder="">
      <small id="alteScopuriHelp" class="form-text text-muted"></small>
      <button disabled="disabled">Adaugă scop nou</button>
    </div>
    <div class="form-group">
      <label name="nivel-invatamant" for="nivelInvatamant">Nivel Învățământ</label>
      <select multiple class="form-control" id="nivelInvatamant">
        <option>Clasa 1</option>
        <option>Clasa a II-a</option>
        <option>Clasa a III-a</option>
        <option>Clasa a IV-a</option>
        <option>Clasa a V-a</option>
        <option>Clasa a VI-a</option>
        <option>Clasa a VII-a</option>
        <option>Clasa a VIII-a</option>
      </select>
    </div>
    <div class="form-group">
      <label for="arieCurriculara">Arie curiculară</label>
      <select multiple name="arie-curriculara" class="form-control" id="arieCurriculara">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
    </div>
    <div class="form-group">
      <label for="competenteVizate">Competențe vizate</label>
      <select multiple name="competente-vizate" class="form-control" id="competenteVizate">
        <option>X</option>
        <option>Y</option>
        <option>Z</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="materialExtraCurr">
      <label name="material-extrac" class="form-check-label" for="materialExtraCurr">
        Material extracurricular?
      </label>
    </div>
    <div class="form-group">
      <label for="adaugaPachet">Adaugă arhivă zip</label>
      <input type="file" name="arhiva" class="form-control-file" id="adaugaPachet">
    </div>
    <button type="submit" id="addresbtn" class="btn btn-primary">Trimite</button> --}}
  </form>
</div>
<script>
  // EVENIMENT la încărcarcarea completă a DOM-ului
{{!-- document.addEventListener('DOMContentLoaded', init);
function init () {
    document.getElementById('addresbtn').addEventListener('click', upload);
}
function upload (evt) {
    evt.preventDefault();

    // Constituirea headerelor
    let headers = new Headers();
    headers.append('Accept', 'application/json'); // Accept un răspuns de tip JSON
    
    // Culegerea datelor din form
    let form01adres = new FormData();   // Obiectul de colectare a tuturor datelor din formular
    form01adres.append('nume-prenume', document.querySelector('#numeprenume'));


    let arhiva = document.querySelector('#adaugaPachet').files[0];
    form01adres.append('arhiva', arhiva, 'arhiva.zip');

    var url = document.location;
    let req = new Request(url, {
        method: 'POST',
        headers: headers,
        mode: 'cors',
        body: form01adres
    });

    fetch(req).then((response) => {
        document.querySelector('#confirmare').textContent = "Mesaj de la server: ";
    }).catch((error) => {
        console.log('ERROR', err.message);
    });
} --}}
  /**
  * Funcția are rolul de a adăuga un titlu într-o listă de control
  * De fapt, creează un nou element input și ul nou selector de limbă pentru elementul input:text nou creat
  * @param {String} idSource este elementul input:text în care a fost introdus un titlu
  * @param {String} idTraget este elementul ul în care apar titlurile
  */
  function addToList (idSource, idTarget) {
    document.querySelector(idSource).addEventListener('blur', (event) => {
      let insertion = document.querySelector(idTarget);
      let liElem = document.createElement('li');
      const cls = ["list-group-item","d-flex","justify-content-between","align-items-center"];
      liElem.classList.add(...cls);
      //TODO: Termină implementarea cândva, dacă mai este nevoie
    });
  }
</script>

