{{> nav-landing}}
{{> messages}}
<div id="authblock">
    {{!-- <button type="" class="btn">Google</button> --}}
    <a href="/auth/google">
        <img src="{{credlogo}}" alt="logo">
    </a>
</div>
