{{> nav-landing}}
{{> messages}}
<div class="container">
    {{>messages}}
    <div id="authblock">
        {{!-- <button type="" class="btn">Google</button> --}}
        <a href="/auth/google">
            <img src="{{credlogo}}" alt="Acesta este logo-ul proiectului CRED în Educație">
        </a>
    </div>
</div>