<div id="localogin" class="">
    {{!-- AFIȘEAZĂ UN MODAL --}}
    <div id="authblock" class="">
        {{!-- <span class="close cursor" onclick="closeModal()">&times;</span> --}}
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form action="/login" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <h3 class="h3 mb-3 font-weight-normal">Dacă ai cont local</h1>
                    <label for="inputEmail" class="sr-only">Adresa email</label>
                    <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required>
                    <label for="inputPassword" class="sr-only">Parola</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <p>Vrei să-ți faci cont?
                        <a href="/signup">Signup</a>
                    </p>
                </form>
            </div>
            <div class="col-md-8 mx-auto">
                <div class="form-signin">
                    <h3>Dacă ai cont Google, te poți autentifica cu acesta</h3>
                    <a href="/auth/google">
                        <img src="{{googlelogo}}" class="mx-auto d-block" alt="logo google" width="80px">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        // deschide modalul
        function openModal() {
            document.getElementById("authblock").style.display = "block";
        }
        openModal();

        const urlParams = new URLSearchParams(window.location.search);
        const info = urlParams.get('info');

        if(info) {
            const errorMessage = document.getElementById("error-message");
            errorMessage.innerText = info;
            errorMessage.style.display = "block";
        }
    </script>
</div>