        <div class="">
            <form class="form-signup" action="signup" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <h3 class="h3 mb-3 font-weight-normal">Creează un cont local</h1>

                <div class="form-group">
                    <label for="inputEmail">Adresa de email este username-ul</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Introdu adreasa de email">
                    <small id="emailHelp" class="form-text text-muted">Dacă ai o adresă adresă de email Gmail, folosește-o pe aceea.</small>
                </div>

                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Parola" aria-describedby="passwordHelpBlock" minlength="8" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Parola trebuie să aibă cel puțin 8 caractere și să conțină litere și cifre, dar fără spații sau emoji.
                    </small>
                </div>

                <div class="form-group">
                    <label for="inputPassword2">Confirmă parola</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Parola încă o dată" onkeyup="" required>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="facont" type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>
            </form>
        </div>