<div id="introMain" class="">
    <h1>Bine ai venit la colectorul de resurse</h1>
    <p>Acesta este locul unde se vor vedea public toate resursele educaționale - RED-uri</p>
    <p>Aceste RED-uri sunt cele care au trecut prin validare și care sunt expuse public pentru a fi folosite de oricine este interesat în aducerea de valoare suplimentară sau elaborarea unora noi ca derivate.</p>
</div>