<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-landing-k1">
    <div class="container px-5"> 
        <a class="navbar-brand" href="/">
            <img id="logo-small" src="/{{{logoimg}}}" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                {{!-- <i class="fas fa-bars"></i> --}}
            </span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {{#if user.googleProfile}}
                <span class="salut">Salut, {{user.googleProfile.name}}</span>
            {{/if}}
            {{#if user.username}}
                <span class="salut">Salut, {{user.username}}</span>
            {{/if}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/resursepublice">Resurse publice</a>
                </li>
                {{#if user}}
                    {{#if user.roles.admin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/administrator">Administrare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/log/new">Conținut nou</a>
                        </li>                                         
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profil</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/log">Noutăți</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resurse/adauga">Adaugă</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resurse">Resurse CRED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Asistență</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}                                    
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Loghează-te</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Cont nou</a>
                    </li>                   
                {{/if}}
            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Caută</button>
            </form> --}}
        </div>
    </div>
</nav>