<div class="d-flex justify-content-center p-2 rtypes">
    <input type="hidden" name="_csrf" value="{{this.csrfToken}}">
    <div class="d-flex justify-content-center">

        {{!-- <div id="mwork" class="progressText lead active disccomponent">
            <div class="round disccomponentcontent">           
                <p>
                    <a href="#unu" class="btn" role="button">
                        <img class="disccentral disccentralimg" src="/img/WorkIcon.png" alt="">
                    </a>
                </p>
                <p>
                    <span class='w0'>O</span>peră
                </p>
            </div>
        </div> --}}

        {{!-- TODO: Pentru fiecare opțiune, se va deschide un div cu posibilele căi de completare --}}

        <div class="card text-white mb-3 restype">
            <div class="d-flex justify-content-center" style="background-color: black; height: 4rem">
                <div class="align-self-center">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
            </div>
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <p class="card-text">
                    <a href="/resources/adauga/red" class="btn resref" role="button">Resursă Educațională</a>
                </p>
            </div>
        </div>    

        {{!-- 
        <div class="card text-white bg-warning mb-3" style="width: 10rem; height: 8rem">
            <div class="d-flex justify-content-center" style="background-color: black; height: 4rem">
                <div class="align-self-center">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="/resurse/adauga/monografie" class="btn" role="button">Monografie</a>
                </p>
            </div>
        </div>   

        <div class="card text-white bg-info mb-3" style="width: 10rem; height: 8rem">
            <div class="d-flex justify-content-center" style="background-color: black; height: 4rem">
                <div class="align-self-center">
                    <i class="fa fa-file" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="/resurse/adauga/serii" class="btn" role="button">Articol periodic</a>
                </p>
            </div>
        </div>

        <div class="card text-white bg-secondary mb-3" style="width: 10rem; height: 8rem">
            <div class="d-flex justify-content-center" style="background-color: black; height: 4rem">
                <div class="align-self-center">
                    <i class="fa fa-image" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="/resurse/adauga/imagini" class="btn" role="button">Imagine</a>
                </p>
            </div>
        </div>    --}}

    </div>
</div>