# exclude modulele Node
node_modules
# exclude repo-ul de git local
.git
# exclude .gitignore
.gitignore
# exclude design-ul aplicației
docker-compose*.yml
# exclude /repo pentru că se creează in container
/repo
# exclude .env
.env
# exclude Dockerfile
Dockerfile
# exclude .dockerignore
.dockerignore
# exclude loguri
npm-debug.log
# exclude secrete montate cu npm
.npmrc
