# exclude modulele Node
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# exclude repo-ul de git local
.git

# exclude .gitignore
.gitignore

# exclude design-ul aplicației
docker-compose*.yml

# exclude /repo pentru că se creează in container
/repo

# exclude .env
.env

# exclude Dockerfile
Dockerfile

# exclude .dockerignore
.dockerignore

# exclude loguri
npm-debug.log

# exclude secrete montate cu npm
.npmrc

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk