BRAND_NAME="Kolector"
PUBLISHER="Kosson"
CREATOR="Nicolaie Constantinescu"
DESCRIPTION="Aplicația este o nouă iterație a depozitului digital"
LOGO="repologo.png"
CONTACT="Nicolaie Constantinescu <email@acme.com>"
DOMAIN="localhost:8081"
DOMAIN_VIRT="0.0.0.0"
FQDN=""
PORT="8081"
APP_RUNTIME="local"
MONGO_LOCAL_CONN="mongodb://localhost:27017/kolector"
MONGO_USER="user_mongo_setat_anterior"
MONGO_PASSWD="o_parola_pentru_user_mongo_setat_anterior"
MONGO_REDS="nume_baza_de_date_red_uri"
MONGO_DB="nume_baza_de_date"
REDIS_HOST="redis"
REDIS_HOST_PASSWORD="parola_setata_prin_assets/redis/config/users.acl"
STACK_VERSION=8.10.2
OPEN_SEARCH_VERSION=2.10.0
ELASTIC_PASSWORD="o_parola_care_va_fi_pusă_userului_cu_rol_de_super_in_elasticsearch(6car minim)"
KIBANA_PASSWORD="o_parola_care_va_fi_pusă_userului_kibana_system(6car minim)"
KIBANA_PORT=5601
ES_PORT=9200
MEM_LIMIT=1073741824
CLUSTER_NAME="numele_clusterului_elasticsearch"
LICENSE=este_numele_licenței_pentru_elastics_search
GOOGLE_CLIENT_ID="un_alfanumeric_de_la_google.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="un_alfanumeric_drept_parola"
COOKIE_ENCODING="un_cuvânt_cheie_ca_o_parola"
BASE_URL="http://localhost:8081"
NAME_OF_REPO_DIR="repo"
REPO_REL_PATH="./repo/"
FILE_LIMIT_UPL_RES="52428800"
JWT_SECRET="un_sir_caractere_drept_Secret_codare_JWT"
JWT_REFRESH="un_alfanumerici_necesar_refresh-ului_de_jwt"
NODE_ENV="development"
EDITORJS="2.21.0"
APP_NAME="kolector"
APP_VER="0.9.94"