<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta property="dc:title"       content="Colector Resurse Educaționale Deschise">
        <meta property="dc:description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <meta itemprop="name"           content="Colector Resurse Educaționale Deschise">
        <meta itemprop="description"    content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        
        {{!-- SOCKET --}}
        <script type="application/javascript" src="/socket.io/socket.io.js"></script>
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        {{!-- <script type="application/javascript" src="/lib/socket.io-client/dist/socket.io.slim.js"></script> --}}
        
        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/lib/es6-shim/es6-shim.min.js"></script>

        {{!-- MAIN --}}
        <script type="application/javascript" charset="utf8" src="/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        {{!-- JQUERY --}}
        <script type="application/javascript" src="/lib/jquery/dist/jquery.min.js"></script>

        {{!-- FONTAWESOME --}}
        <script type="application/javascript" src="/lib/fontawesome/js/all.min.js"></script>
        <link title="timeline-styles" rel="stylesheet" type="text/css" href="/lib/fontawesome/css/all.min.css">

        {{!-- JQUERY TOAST --}}
        <link rel="stylesheet" type="text/css" href="/lib/jquery-toast-plugin/dist/jquery.toast.min.css">

        {{!-- BOOTSTRAP 4 --}}        
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="application/javascript" src="/lib/popper.js/dist/umd/popper.min.js"></script>       
        <script type="application/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        {{!-- DATATABLES --}}
        <script type="application/javascript" src="/lib/datatables.net/js/jquery.dataTables.min.js"></script>
        <script type="application/javascript" src="/lib/datatables.net-select/js/dataTables.select.min.js"></script>
        <script type="application/javascript" src="/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>        
        <script type="application/javascript" src="/lib/datatables.net/js/dataTables.bootstrap.min.js"></script>

        <script type="application/javascript" src="/lib/datatables.net-buttons/js/buttons.bootstrap.min.js"></script>
        <script type="application/javascript" src="/lib/datatables.net-select/js/select.bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/lib/datatables.net-dt/css/jquery.dataTables.min.css">

        {{!-- HANDLEBARS --}}
        <script type="application/javascript" src="/lib/handlebars/handlebars.runtime.min.js"></script> 
        <script type="application/javascript" src="/lib/handlebars/handlebars.min.js"></script>

        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}

        <footer class="footer">
            {{> footer}}
        </footer>

        {{!-- JQUERY TOAST PLUGIN --}}
        <script type="application/javascript" src="/lib/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        
        <script type="application/javascript" src="/js/custom.js"></script>
    </body>
</html>