<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="educred, red, colector, resurse educaționale, educație">
        <meta name="description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <meta name="generator" content="Colector RED">
        <meta name="creator" content="CRED-Curriculum relevant, educație deschisă pentru toți– cod SMIS 2014+:118327">
        <meta name="autor" content="Constantinescu Nicolaie">
        <meta name="publisher" content="Institutul pentru Științele Educației">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta property="dc:title" content="Colector Resurse Educaționale Deschise">
        <meta property="dc:description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <meta itemprop="name" content="Colector Resurse Educaționale Deschise">
        <meta itemprop="description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <script type="text/javascript" charset="utf8" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/es6-shim/es6-shim.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="{{style}}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/arrow.css">
        <link rel="stylesheet" href="/css/fixed.css">
        <link rel="stylesheet" href="/css/waypoints.css">

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
        {{{body}}}
        <footer class="footer">
            {{> footer}}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.slim.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/fontawesome/js/all.js" charset="utf-8"></script>
        
        <script src="/lib/waypoints/lib/jquery.waypoints.min.js"></script>
        <script src="/js/main.js" charset="utf-8"></script>
        <script src="/js/custom.js" charset="utf-8"></script>
    </body>
</html>