<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta property="dc:title" content="Jurnalierul Colectorului pentru Resurse Educaționale Deschise">
        <meta property="dc:description" content="Acesta este jurnalierul Colectorului RED">
        <meta itemprop="name" content="Jurnalierul Colectorului pentru Resurse Educaționale Deschise">
        <meta itemprop="description" content="Acesta este jurnalierul Colectorului RED">
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="{{style}}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">
        {{{body}}}
        <footer>
            {{> footer}}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.slim.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/fontawesome/js/all.js" charset="utf-8"></script>
        <script src="/js/main.js" charset="utf-8"></script>
    </body>
</html>