<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/lib/jquery-toast-plugin/dist/jquery.toast.min.css">
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/jquery-toast-plugin/dist/jquery.toast.min.css">
        <script type="text/javascript" charset="utf8" src="/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/handlebars/handlebars.runtime.min.js"></script> 
        <script type="text/javascript" charset="utf8" src="/lib/handlebars/handlebars.min.js"></script> 
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}

        <footer>
            {{> footer}}
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {{!-- <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> --}}
        <script type="text/javascript" charset="utf8" src="/lib/popper.js/dist/umd/popper.min.js"></script>
        
        {{!-- <script type="text/javascript" charset="utf8" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> --}}
        <script type="text/javascript" charset="utf8" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" charset="utf8" src="/lib/fontawesome/js/all.js"></script>
        <script type="text/javascript" charset="utf8" src="/lib/jquery-toast-plugin/dist/jquery.toast.min.js"></script>  
    
        <script type="text/javascript" charset="utf8" src="/js/resursepublice.js"></script>
    </body>
</html>