{{!< k1/layout}}
{{> nav-resurse}}
{{> messages}}

<div class="container p-4">
    <div class="alert alert-warning row justify-content-center col-6 mx-auto bg-dark" role="alert">
        <div>
            <h1>Nucleul are o eroare!</h1>
            <img src="/{{template}}/img/sigmund-TnEe6BdBC2M-unsplash.jpg" width="500" alt="Este pictograma martorului de bord care indică probleme cu motorul">
        </div>
        <div>{{detalii}}</div>
        <div>
            <p style="font-size: 0.9rem;font-style: italic;">
                <a href="https://unsplash.com/photos/TnEe6BdBC2M">"Photo by Sygmund"</a>
                <a href="https://unsplash.com/license" style="margin-right: 5px;">Free to use under the Unsplash License</a>
            </p>
        </div>
    </div>
</div>