{{!< layout}}
{{> nav-resurse}}
{{> messages}}
{{!-- <button type="button" id="addres" class="btn btn-primary" data-toggle="collapse" data-target="#form01adres">Adaugă resursă</button> --}}

{{> form-adaugare-res}}