{{!< k1/landing}}
{{> nav-resurse}}
<div id="bs5toastcontainer" class="toast-container position-absolute p-3" style="z-index: 11"></div>
{{!-- Vezi că CSRF-ul se introduce la nivel de form --}}
{{> form-add-red}}
{{> bs5-toast}}