{{!< k1/layout}}
{{> nav-administrator_k1}}

<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

<div class="container" id="content">
    <div class="">
        <a class="btn btn-primary btn-lg" href="/administrator/import/red/" role="button">
            <i class="bi bi-mortarboard" style="font-size: 2rem;"></i> <p>Resurse Educaționale Deschise</p>
        </a>
    </div>
</div>