{{!< landing}}
{{> nav-landing}}
{{> messages}}

{{#each scripts}}
    <script src="{{script}}" charset="utf-8"></script>
{{/each}}

<div class="container">
    <div>
        <iframe class="gform" src="https://docs.google.com/forms/d/e/1FAIpQLScQJgp8162dvI1CxcoXy95KiFRItoi63Di9eLnf9jpbYnxLjw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Încărcare…</iframe>
    </div>
</div>