{{!< landing}}
{{> nav-resurse}}
{{> messages}}
    <div id="container">
        <h1>Acesta este sistemul de asistență</h1>
        <h2>Resurse Educaționale Deschise</h2>
        <div>
            <p><a href="/help/IntroducereaUneiResurseEducationaleDeschise.html">1. Introducerea unei Resurse Educaționale Deschise</a></p>
        </div>
    </div>