{{!< landing}}
{{> nav-landing}}
{{> messages}}
{{!-- secțiunea landing --}}
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">
            {{!-- "Ants" by revolution540 is licensed under CC BY 2.0 --}}
        </div>
    </div>
</div>
{{!-- secțiune landing final --}}

{{!-- secțiune întâmpinare --}}
<div class="caption text-center">

    <div class="os-animation" data-animation="bounceInUp" data-delay=".3s">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#"><img src="img/intrumentestructurale-1.png" alt="Instrumente Structurale logo."></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/ue-1.png" alt="Uniunea Europeană logo."></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/guvern-1.png" alt="Uniunea Europeană logo."></a>
            </li>
        </ul>
    </div>
    <div class="os-animation" data-animation="bounceInUp" data-delay=".4s">
        <h1>Bine ai venit!</h1>
    </div>

    <div class="os-animation" data-animation="bounceInUp" data-delay=".5s">
        <p>Colectorul de Resurse Educaționale Deschise este o aplicație creată în cadrul proiectului <em>CRED-Curriculum relevant, educație deschisă pentru toți</em>– cod SMIS 2014+:118327
Proiect cofinanțat din Fondul Social European prin Programul Operațional Capital Uman 2014-2020</p>
    </div>
            
    <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
        <a class="btn btn-outline-light btn-lg" href="/resurse">Vezi resursele</a>
    </div>

</div>
{{!-- secțiune întâmpinare final--}}
<!--- Indicator săgeată -->
<a class="down-arrow" href="#resurse">
    <div class="arrow bounce d-none d-md-block">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
</a>
{{!-- <div class="container"> --}}
    {{!-- {{> mainInfo}} --}}
<div class="offset">
    <div class="os-animation narrow text-center" data-animation="fadeInUp">
        <h3 class="heading">
            Câteva resurse alese...
        </h3>
    </div>
    <div id="" class="resurse os-animation" data-animation="fadeInUp">
        {{!-- <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <img class="card-img-top" src="img/6cd8e328437855.567fa1eedd7bf.png" alt="Card image cap">
                <article>
                    <h5 class="card-title">Resursă publică 01</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">4</span>
                    </button>
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <img class="card-img-top" src="img/6136716251_f12d9ea2c5_b.jpg" alt="Card image cap">
                <article>
                    <h5 class="card-title">Resursă publică 02</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>                    
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">6</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <iframe class="card-img-top" width="100%" height="" src="https://www.youtube.com/embed/5ji7H1PnuTo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <article>
                    <h5 class="card-title">Resursă publică 03</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">10</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 04</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">31</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 05</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">87</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a VIII-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa I</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 06</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">18</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 07</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">23</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 08</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">5</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 09</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">12</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div> --}}
    </div>
</div>