{{!< k1/landing}}
{{> nav-landing_k1}}

<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{!-- Încărcarea modulelor --}}
{{#each modules}}
    <script type="module" src="{{module}}"></script>
{{/each}}

{{!-- Încărcarea scripturilor --}}
{{#each scripts}}
    <script defer type="application/javascript" src="{{script}}"></script>
{{/each}}

<!-- Header-->
<header id="header-landing" class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-8">
            <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">Depozit digital pentru dezvoltare</h1>
            <p class="lead text-white-50 mb-4">prelucrare diverse date și informații utile.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                {{!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Adăugați o resursă</a> --}}
                {{!-- <a class="btn btn-outline-light btn-lg" href="/resurse">Vizualizați resurse</a> </div> --}}
            </div>
        </div>
        </div>
    </div>
</header>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Resurse educaționale</h2>
                <p>Resurse care au un scop educțional pentru care se face modelare de date.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-terminal"></i></div>
                <h2 class="h4 fw-bolder">Platforme și aplicații care generează conținut deschis</h2>
                <p>Pentru dezvoltarea, utilizarea, reutilizarea, căutarea, organizarea și accesul la resurse; includ si medii virtuale de învățare (LMS), comunități de învățare</p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Software și API-uri</h2>
                <p>O evidență a pachetelor existente. Evidență necesară lucrului cu datele specifice.</p>
            </div>
        </div>
    </div>
</section>

<section class="offset bg-light py-5 border-bottom">
    <div class="container">
        {{!-- <div class="text-center mb-5">
            <h3>Ultimele adăugate</h3>
        </div> --}}

        <div id="resurse" class="row gx-5 justify-content-center">
            <div class="units container">
                {{!-- Randează resursele în landing --}}
                {{#each resurse}}
                    {{> resource_public_k1}}
                {{/each}}
            </div>
        </div>
    </div>
</section>

<template id="infot">
    <article class="infotoken">
        <div class="infotoken__head">
            <div class="infotoken__head__cover">
                <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                <p class="infotoken__head__cover--nr">321</p>
            </div>
            <div class="infotoken__head__title">
                <h3>Acesta este un infotoken despre ceva legat de video</h3>
            </div>
        </div>
        <div class="infotoken__body">
            Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
        </div>
        <div class="infotoken__footer">
            <span class="badge badge-pill badge-secondary">biologie</span>
            <span class="badge badge-pill badge-secondary">video</span>
            <span class="badge badge-pill badge-secondary">colecție</span>
        </div>
    </article>
</template>