{{!< log}}
{{> nav-resurse}}
{{> messages}}
    {{#each scripts}}
        <script src="{{script}}" charset="utf-8"></script>
    {{/each}}
    <div id="container">
        <h1>Intrare nouă în jurnal</h1>
        <div id="editorcrate" class="container p-2">
            <form>
                {{!-- Formular de introducere articol --}}
                <div class="row">
                    <div id="titlelog" class="col">
                        <input type="text" class="form-control" placeholder="Titlu">
                    </div>
                    <div id="autorlog" class="col">
                        <input id="idContributor" name="emailUser" type="hidden" value="{{user.email}}">
                        <input id="autor" type="text" value="{{user.googleProfile.name}}" class="form-control" placeholder="{{user.googleProfile.name}}">
                    </div>
                </div>
                <div class="justify-content-center mt-4">
                    <div id="codex-editor"></div>
                </div>
                <br>
                <button id="enterlog" type="submit" class="btn btn-danger">Salvează</button>
            </form>
        </div>
    </div>