{{!< log}}
{{> nav-resurse}}
{{> messages}}
    <div id="container" class="container">
        {{#each logentries}}
            <article class="logentry">
                <h3>{{this.title}}</h3>
                <div class="logcontent">
                    {{{this.content}}}
                </div>
            </article>
        {{/each}}
    </div>