{{!< logentries}}
{{> nav-resurse}}
{{> messages}}
    <div id="container" class="container">
        {{#each logentries}}
            <article class="logentry p-1 mt-1">
                <div class="logtitle">
                    <h3>{{this.title}}</h3>
                    <p>Autor: {{this.idContributor}}, din {{this.dataRo}}</p>
                </div>
                <div class="logcontent">
                    {{{this.content}}}
                </div>
            </article>
        {{/each}}
    </div>