{{!< layout}}

{{!-- Încărcarea scripturilor --}}
{{#each scripts}}
    <script defer type="application/javascript" src="{{script}}"></script>
{{/each}}

<div class="container">
    {{> loLogin}}
</div>