{{!< layout}}
{{> nav-resurse-publice}}
{{> messages}}
    <h1>Resursele Educaționale Deschise care sunt publice, vă stau la dispoziție!</h1>
    <div id="resurse" class="">
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <img class="card-img-top" src="img/6cd8e328437855.567fa1eedd7bf.png" alt="Card image cap">
                <article>
                    <h5 class="card-title">Resursă publică 01</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">4</span>
                    </button>
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <img class="card-img-top" src="img/6136716251_f12d9ea2c5_b.jpg" alt="Card image cap">
                <article>
                    <h5 class="card-title">Resursă publică 02</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>                    
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">6</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <iframe class="card-img-top" width="100%" height="" src="https://www.youtube.com/embed/5ji7H1PnuTo?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <article>
                    <h5 class="card-title">Resursă publică 03</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">10</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 04</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">31</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 05</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">87</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a VIII-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa I</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 06</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">18</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 07</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">23</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 08</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">5</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
            <div class="card-body">
                <article>
                    <h5 class="card-title">Resursă publică 09</h5>
                    <p class="card-text">Această resursă este una de test pentru construcția aplicației. Nu este în bază și este hardcodată.</p>
                    <a href="#" class="btn btn-primary card-link">Accesează</a>
                    <button type="button" class="btn btn-warning">
                        Descarcă <span class="badge badge-light">12</span>
                    </button
                </article>
                <div class="alert alert-info">
                    <span class="badge badge-light">
                        <a href="#">Clasa a II-a</a>
                    </span>
                    <span class="badge badge-light">
                        <a href="#">Clasa a IV-a</a>
                    </span>
                </div>
            </div>
        </div>
    </div>