{{!< layout}}
{{> nav-resurse-publice}}
{{> messages}}
    <div id="resurse" class="resurse">
        <h1>Resursele Educaționale Deschise care sunt publice, vă stau la dispoziție!</h1>
    </div>