{{!< layout}}
{{> nav-administrator}}
{{> messages}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

<div id="content">
    <h1>Accesarea tuturor administratorilor:</h1>
    <section class="container-fluid" id="res-visuals">
        {{!-- Va încărca resursele compilate cu ajutorul template-ului --}}
        <div id="visuals" class="tableDisplay">
            {{!-- Background video --}}
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                    <source src="/img/coverr-typing-in-laptop-1578678668153.mp4" type="video/mp4">
                    Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
                </video>
            </div>
        </div>
    </section>
</div>

{{!-- Tabelul resurselor personale --}}
<template id="userResTbl" data-order='[[ 1, "asc" ]]'>
    <div id="resurseTab" class=""></div>
</template>

{{#each scripts}}
    <script defer type="application/javascript" src="{{script}}"></script>
{{/each}}