{{!< k1/layout}}
{{> nav-administrator_k1}}
{{!-- {{> messages}} --}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

<input id="tmpl" type="hidden" name="template" value="{{template}}">

<div id="content">
    <div class="title"><h1>Utilizatorii</h1></div>
    <section class="container-fluid" id="res-visuals">
        {{!-- Va încărca resursele compilate cu ajutorul template-ului --}}
        <div id="visuals" class="tableDisplay">
        </div>
    </section>
</div>

{{!-- Tabelul resurselor personale --}}
<template id="userResTbl">
    <div id="resurseTab" class=""></div>
</template>

{{#each scripts}}
    <script type="application/javascript" src="/{{template}}{{script}}"></script>
{{/each}}