{{!< layout}}
{{> nav-administrator}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">
<div id="content">
    <section class="container-fluid" id="userres">
        {{!-- Va încărca resursele compilate cu ajutorul template-ului --}}
        <div id="contributii" class="">
            {{!-- Background video --}}
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                    <source src="img/coverr-typing-in-laptop-1578678668153.mp4" type="video/mp4">
                    Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
                </video>
            </div>

            {{!-- DETALIILE PENTRU UN UTILIZATOR SELECTAT --}}
            <div id="showusrdetails" class="">
                {{!-- Va fi inserat rezultatul compilării aici! --}}
            </div>
        </div>
    </section>

    {{!-- TEMPLATE STATISTIC --}}
    <template id="statstpl">
        <article class="stats__article">
            <h5 class="stat__title"></h5>
            <a href="" class="stat__figure"></a>
        </article>
    </template>
    
    {{!-- TEMPLATE_UL UTILIZATORILOR DIN ELASTICSEARCH --}}
    <template id="usertpl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    <button type="button" name="" class="btn btn-light userProfileBtn" onclick="exposeUser()"></button>
                </p>    
            </div>          
        </div>
    </template>

    {{!-- TEMPLATE_UL DETALIILOR PENTRU UTILIZATORUL SELECTAT --}}
    <template id="userdetailtpl">
        {{!-- SECȚIUNE DETALII --}}
        <section class="admUview container">
            {{!-- Detaliile primare ale utilizatorului --}}
            <div class="admUview__admUdesc">
                {{!-- Imaginea utilizatorului --}}
                <img class="admUdesc__avatar" src="" alt="">
                {{!-- ID-ul din baza de date --}}
                <strong class="admUdesc__admUid"></strong>
                <p class="admUsesc__admUroles">
                    Roluri în sistem: 
                    {{!-- Sunt injectate elemente span --}}                    
                </p>

                <p class="admUsesc__admUunits">
                    Unit-urile în care participă: 
                </p>
                {{!-- Părți ale mecanismului de abilitare a unui user --}}
                <div id="form03" class="container">
                    <form>
                        {{!-- Setează administrator!!! --}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    Admin: 
                                    <input id="adminSet" type="checkbox" aria-label="Setează administrator" onchange="mkAdmin()">
                                </div>
                            </div>
                        </div>
                        {{!-- Afișarea detaliilor privind rolurile în sistem; Adăugarea de roluri și eliminarea de roluri --}}
                        <div class="form-group">
                            <label for="exitingRoles">Selectarea posibilelor roluri suplimentare</label>
                            <select multiple name="roles" class="form-control" id="existingRoles" onchange="colectRoles()">
                                <option value="validator">validator</option>
                                <option value="cred">cred</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="addNewRole()">Adaugă rol</button>
                        {{!-- Adăugarea de units --}}
                        <div class="form-group">
                            <label for="units">Adăugarea unităților (cursuri, activități, etc.)</label>
                            <textarea class="form-control" id="units" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="colectUnits()">Adaugă unități noi</button>
                    </form>
                </div>
            </div>
        </section>
        {{!-- SECȚIUNE RESURSE ALE UTILIZATORULUI --}}
        <section>
            {{!-- TIMELINE AL RESURSELOR --}}
            <div id="timeline-embed" class="tline"></div>

            {{!-- ULTIMELE 5 resurse --}}
            <div class="resurseUser">
                {{!-- Vor fi inserate resursele utilizatorului - ultimele 5 --}}
            </div>
        </section>
    </template>

    {{!-- Tabelul resurselor personale --}}
    <template id="userResTbl">
        <div id="resurseTab" class=""></div>
    </template>

    {{#each scripts}}
        <script src="{{script}}" charset="utf-8"></script>
    {{/each}}
</div>