{{!< layout}}
{{> nav-administrator}}
{{> messages}}

<div id="content">
    <h1>Bine ai venit în zona de administrare!</h1>
    {{!-- <div id="foci">
        <button id="allUsers" type="button" class="btn btn-primary">Toți utilizatorii</button>
        <button id="allUnits" type="button" class="btn btn-primary">Unități</button>
        <button id="allComps" type="button" class="btn btn-primary">Competențe specifice</button>    
    </div> --}}
    {{!-- <br> --}}
    <section class="container" id="userres">
        <p>Caută un utilizator, fie după email, fie după nume</p>
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="useremail">@educred.ro</span>
                </div>
                <input type="text" id="findUserField" class="form-control" placeholder="Adresa de email a utilizatorului" aria-label="useremail" aria-describedby="useremail">
                <div class="input-group-append">
                    <button id="findUserBtn" class="btn btn-outline-secondary" type="button">Caută</button>
                </div>
            </div>
        </form>
        <br>
        
        {{!-- Va încărca resursele compilate cu ajutorul template-ului --}}
        <div id="contributii" class="resurse">
            {{!-- UTILIZATORII GĂSIȚI ÎN ELASTICSEARCH --}}
            <div id="showusers" class="container d-flex p-2 bd-highlight justify-content-around">                
                {{!-- Va fi inserat rezultatul compilării aici! --}}
            </div>

            {{!-- DETALIILE PENTRU UN UTILIZATOR SELECTAT --}}
            <div id="showusrdetails" class="container">
                {{!-- Va fi inserat rezultatul compilării aici! --}}
                <div class="resurseUser">
                    {{!-- Vor fi inserate resursele utilizatorului - ultimele 5 --}}
                </div>
            </div>
        </div>
    </section>    
    
    {{!-- TEMPLATE_UL UTILIZATORILOR DIN ELASTICSEARCH --}}
    <template id="usertpl">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    <button type="button" name="" class="btn btn-light userProfileBtn" onclick="exposeUser()"></button>
                </p>    
            </div>          
        </div>
    </template>

    {{!-- TEMPLATE_UL DETALIILOR PENTRU UTILIZATORUL SELECTAT --}}
    <template id="userdetailtpl">
        <section class="admUview">
            {{!-- Detaliile primare ale utilizatorului --}}
            <div class="admUview__admUdesc">
                {{!-- Imaginea utilizatorului --}}
                <img class="admUdesc__avatar" src="" alt="">
                {{!-- ID-ul din baza de date --}}
                <strong class="admUdesc__admUid"></strong>
                <p class="admUsesc__admUroles">
                    Roluri în sistem: 
                    {{!-- Sunt injectate elemente span --}}                    
                </p>

                <p class="admUsesc__admUunits">
                    Unit-urile în care participă: 
                </p>
                {{!-- Resursele [ultimele 5 ale utilizatorului selectat] --}}
                <div class="resurse resurseUser"></div>
            </div>
        </section>
    </template>

    {{#each scripts}}
        <script src="{{script}}" charset="utf-8"></script>
    {{/each}}
</div>