@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Extra small devices (portrait phones, less than 576px) (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .card-img-top {
        height: 19vw;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-img-top {
        height: 16vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .card-img-top {
        height: 16vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-img-top {
        height: 11vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-img-top {
        height: 11vw;
    }
}

/* GENERAL */
.footer {
    /* display: flex;
    z-index: 10;
    flex-wrap: wrap;
    align-items: center; */
    position: relative;
    text-align: center;
}

.avatar {
    max-width:10%;
    height:auto;
}

/*===== NAVIGATION ====*/
nav.navbar-light {
    /* background-color: bisque; */
    background-color: dimgray;
}

.salut {
    color: beige;
}

.navbar {
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}

.navbar-brand img {
    height: 2rem;
}

.svg-inline--fa.fa-w-14 {
    color: white;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: red;
}

.navbar.solid {
    background: rgba(0, 0, 0, 0.7)!important;
    transition: background-color 1s ease 0s;
}

/* === LANDING PAGE IMAGE === */
.home-inner {
    background-image: url("/img/15144968188_c6938eb1a3_b.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}
.caption h1 {
    color: white;
    /* font-size: 4.5rem; */
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption p {
    color: white;
    /* font-size: 2rem; */
    font-size: large;
    /* text-transform: uppercase; */
    font-weight: 300;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block!important;
}

/* === LANDING PAGE - FORMULARE === */
.gforms {
    display: flex;
    flex-wrap: wrap;
}

.c-card {
    width: 25rem;
    position: relative;
    /* margin: .5rem; */
    padding: .4rem;
}

.ce-header {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.c-header-img {
    height: 5rem;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    width: 100%;
    height: 5.4rem;
    margin-top: .2rem;

    border-radius: .2rem;
    /* padding: .5rem; */
    color: white;
    background-color: rgba(0,0,0, .5);
    text-shadow: -.2rem -.2rem 2rem rgba(255,255,255, .1), .2rem .2rem .2rem rgba(0,0,0, .5);
    
    text-align: center;
}

.c-title > h5 {
    display: block;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.c-subtitle {
    width: 100%;
    display: block;
    color: olive;
    background-color: rgba(0,0,0, .5);
    text-shadow: -.2rem -.2rem 2rem rgba(255,255,255, .1), .2rem .2rem .2rem rgba(0,0,0, .5);
    margin-top: .2rem;
}

.c-descr {
    padding-bottom: 1rem;
}

.c-link a:link {
    color: chartreuse;
    text-decoration: none;
    text-transform: uppercase;
}

/*===== RESURSE ALESE ... =====*/
.narrow {
    /* width: 75%; */
    margin: 0 auto;
    padding: 2rem;
}

.resurse {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-position: center;
    /* padding: 1rem 0 1rem; */
    margin: 0 auto;
    z-index: 10;
}

#resursaincred {
    position: relative;
}

.redcontent {
    background-color: beige;
    margin: .3rem;
}

.card {
    width: 25rem;
    height: 30rem;
    margin: .8rem;
    padding: .2rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-body {
    padding: .2em;
    height: 18vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    text-align: center;
}

.card-img-top {
    object-fit: cover;
}

.validred {
    background-color: lightgreen;
}

.invalidred {
    background-color: gold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Tratarea background-ului cu video [COMPONENTA] */

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* opacity: .80; */
    overflow: hidden;
    z-index: -10;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* MODELAREA TABELULUI */

.helperIcon {
    background: url('../img/details_open.png') no-repeat center center;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

/* GESTIONAREA FORMULARULUI DE DEPUNERE RESURSĂ */

#doi, #trei, #patru {
    display: none;
}

/* GESTIONAREA SELECTORULUI DE IMAGINE COPERTĂ - FORM 01 */
.nopad {
    float: left;
	padding-left: 0 !important;
    padding-right: 0 !important;
}
/* GALERIA DE IMAGINI - FORMULAR */
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: .3rem solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.img-responsive {
    height: 8rem;
    width: 100%;
}
/*Ascunde checkboxul original*/
.image-checkbox input[type="checkbox"] {
	display: none;
}

/*Evidențiază selecția imaginii printr-un chenar*/
/* .image-checkbox-checked .fa-check .fa-camera{ */
.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: .8rem;
    top: 0;
    right: 0;
}

.image-checkbox-checked .fa {
    display: block !important;
}

/* ETICHETELE - FORM 01 */
#tags {
    padding: 0.3rem;
}

/* SVG-urile */
svg {
    width: 100%; 
    height: auto;
    padding: 0;
}

.scaling-svg-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
}

.scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;; 
    padding-bottom: 92%; 
    overflow: visible;
}

/* ELEMENTELE DE SELECȚIE de tip RANGE */
.selectortxt {
    color: beige;
}

input[type='range'] {
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    /* width: 210px; */
    width: 12rem;    
    height: 50px;
    cursor: pointer;
    background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: -moz-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background-size: 122px 25px;
    font-size: 16px;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    /* width: 200px; */
    width: 12rem;
    height: 5px;
    border-radius: 2px;
    background: rgb(196, 191, 191);
}
input[type='range']::-moz-range-track {
    box-sizing: border-box;
    /* width: 200px; */
    width: 12rem;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
}
input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    margin-top: -8px;
    background: #EEE;
}
input[type='range']::-ms-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
}
input[type="range"]::-ms-fill-lower {
    background: transparent;
}
input[type='range']:focus {
    outline: none;
}
#selectlevel:after {
    position: absolute;
    color: #777;
    content: '20 40 60 80';
    padding: 40px;
    word-spacing: 20px;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#selectlevel {
    padding: 0px;
    position: relative;
}

#valoareclasa {
    display: block;
    color: #777;
}
/* #valoareclasa:before{
    content:"";
    font-weight: bold;
} */

#codex-editor {
    border: .1rem;
    border-style: solid;
}
/* TRATAREA LOGURILOR */
.logentry {
    border: .1rem;
    border-style: solid;
}

/* GESTIONAREA FORMULARULUI */
#form01adres {
    background-color: antiquewhite;
    height: 100%;
}

/* GESTIONAREA EDITORULUI */

.codex-editor {
    background-color: #EEE;
}

#form03 {
    margin: 0 auto;
    padding: 2rem;
}

/* ZONA DE ADMINISTRARE */

#searchU {
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

#contributii {
    position: relative;
    height: auto;
}

#showusers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: absolute;
    top: 0;
    left: 0; */
}

#showusers .card {
    height: 8rem;
    min-width: 15rem;
}

.admUdesc__avatar {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.admUview {
    display: flex;
    background-color: rgba(255, 255, 255, .6);
    border-radius: .4em;
    margin: 1rem 2rem;
    padding: 1.5rem;
}

.resurseUser {
    display: flex;
}

.admUsesc__admUroles {
    margin: 1rem;
}

.admUsesc__admUroles--role, .admUsesc__admUroles--unit {
    margin: .5rem;
}

.admUview {
    z-index: 150;
}

/* GESTIONAREA TIMELINE-ULUI DIN ADMINISTRATOR */

#timeline-embed {
    width: 100%;
    height: 32rem;
}

.tl-timenav {
    background-color: beige;
}

/* RESURSĂ UNICĂ AFIȘATĂ */

.resursa {
    background-color: transparent;
}

.coperta {
    width: 5rem;
    margin-bottom: 1rem;
}

/* TABEL RESURSE PENTRU UN USER */
#resurseTab {
    background-color: rgba(255, 255, 255, .6);
    border-radius: .4em;
    padding: 1rem;
    margin: 1rem;
    /* width: 100%; */
}

/* EDITOR.JS */

/* Header plugin */
/* Plugin styles */
.ce-header {
    padding: 1em 0;
    margin: 0;
    margin-bottom: -0.9em;
    line-height: 1.5em;
    outline: none;
}

.ce-header p,
.ce-header div{
    padding: 0 !important;
    margin: 0 !important;
}

/* Styles for Plugin icon in Toolbar */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
    display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
    display: none;
}

/* PARAGRAPH */

.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}

.ce-paragraph[data-placeholder]:empty::before{
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
    opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
    opacity: 0;
}

.ce-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-paragraph p:last-of-type{
    margin-bottom: 0;
}

/* QUOTE */

.cdx-quote-icon svg {
    transform: rotate(180deg);
}

.cdx-quote {
    margin: 0;
}

.cdx-quote__text {
    min-height: 158px;
    margin-bottom: 10px;
}

.cdx-quote__caption {}

.cdx-quote [contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
    opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
    opacity: 0;
}


.cdx-quote-settings {
    display: flex;
}

.cdx-quote-settings .cdx-settings-button {
    width: 50%;
}

/* Modul restats */

#restats {
    display: flex;
    padding: 0.5rem;
    margin: 0 auto;
}

.stats__article {
    position: relative;
    border: #707684 solid;
    margin: 0 0.2rem;
    padding: 0.3rem;
    
}

.stat__figure {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* Gestionarea formularelor Gform */
.gform {
    width: 50rem;
    height: 100rem;
}

.freebirdFormviewerViewEmbedded {
    padding-top: 10rem;
}

/* CATALOAGE PE LANDING */
#cataloage {
    padding: 0.3rem;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* gestionarea tabelelor - http://localhost:8080/administrator/reds */
#visuals {
    height: 100%;
}

#content > h1 {
    text-shadow: #FC0 .1rem .1rem .4rem;
}

.tableDisplay {
    font-size: small;
    font-weight: 200;
}

/* GESTIONARE INFOTOKENS */
#tools {
    display: flex;
}

.infotoken {
    width: 20rem;
    margin: .3rem;
}

.infotoken__head {
    position: relative;
}

.infotoken__head__cover img {
    width: 20rem;
    border-radius: .8rem;
}

.infotoken__head__cover--nr {
    background-color: olive;
    color: white;
    position: absolute;
    top: -.8rem;
    right: 0;
    padding: .3rem;
    border-radius: .4rem;
}