/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* GENERAL */
footer {
    display: flex;
}

img {
    max-width:100%;
    height:auto;
}

#logo-small {
    width: 20%;
}

.avatar-ico {
    width: 10%;
}

#resurse {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap;
    justify-content: space-around; */
    justify-content: center;
    width: 100%;
}

.card {
    width: 15em;
    margin: 0.2em;
}

.card-body {
    padding: .2em;
}

#resurse, #licenta {
    justify-content: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}