@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* GENERAL */
footer {
    display: flex;
}

img {
    max-width:100%;
    height:auto;
}

/* #logo-small {
    width: 20%;
} */

.avatar-ico {
    width: 10%;
}

/*===== NAVIGATION ====*/
nav.navbar-light {
    background-color: bisque;
}

.navbar {
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}

.navbar-brand img {
    height: 2rem;
}

.svg-inline--fa.fa-w-14 {
    color: white;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: red;
}

.navbar.solid {
    background: rgba(0, 0, 0, 0.7)!important;
    transition: background-color 1s ease 0s;
}

/*===== LANDING PAGE IMAGE ====*/
.home-inner {
    background-image: url("/img/15144968188_c6938eb1a3_b.jpg");
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}
.caption h1 {
    color: white;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption p {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block!important;
}

/*===== RESURSE ALESE ... =====*/
.narrow {
    /* width: 75%; */
    margin: 0 auto;
    padding: 2rem;
}

.resurse {
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row wrap;
    justify-content: space-around; */
    justify-content: center;
    width: 100%;
}

/* .card {
    width: 15em;
    margin: 0.2em;
} */

.card-body {
    padding: .2em;
}

#resurse, #licenta {
    justify-content: center;
}

.validred {
    background-color: lightgreen;
}

.invalidred {
    background-color: gold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* MODELAREA TABELULUI */

.helperIcon {
    background: url('../img/details_open.png') no-repeat center center;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

/* GESTIONAREA FORMULARULUI DE DEPUNERE RESURSĂ */

#doi, #trei, #patru {
    display: none;
}

/* GESTIONAREA SELECTORULUI DE IMAGINE */
.nopad {
    float: left;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
/*Ascunde checkboxul original*/
.image-checkbox input[type="checkbox"] {
	display: none;
}

/*Evidențiază selecția imaginii printr-un chenar*/
/* .image-checkbox-checked .fa-check .fa-camera{ */
.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
}

.image-checkbox-checked .fa {
    display: block !important;
}

/* Etichete */
#tags {
    padding: 0.3rem;
}

/* SVG-urile */
svg {
    width: 100%; 
    height: auto;
    padding: 0;
}

.scaling-svg-container {
    position: relative; 
    height: 0; 
    width: 100%; 
    padding: 0;
    padding-bottom: 100%; 
}

.scaling-svg {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;; 
    padding-bottom: 92%; 
    overflow: visible;
}

.coperta {
    vertical-align: middle;
    border-radius: 50%;
}