@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* LINKURI */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/* == ELEMENTE COMUNE FORMULARE == */
.form-control::placeholder {
    color:rgb(87, 203, 249, 0.6);
    font-style: italic;
}

/* Necesar pentru a ține câmpurile în dic tip container */

/* HEADER */
#header-landing {
    background: linear-gradient(0deg, rgb(0 0 0 / 56%), rgb(0 0 0 / 90%)), url(../img/photo-header.jpg);
    background-size: cover;
}
header.py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
header.lead {
    padding-bottom: 3.5rem !important;
}

footer.bg-light {
    background: #FFF !important;
}
.feature {
    height: 3rem;
    width: 3rem;
}

/* FEATURE - LANDING */
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}

/* FOOTER */
footer.bg-light {
    background: #FFF !important;
}

#projectdescr, #license {
    padding: .2rem;
}

#projectdescr {
    width: 25%;
}

#projectdescr img {
    flex-grow: 1;
    width: 50px;
    height: auto;
}

#license {
    width: 20%;
    flex-grow: 1;
    text-align: right;
}

#fmisc {
    flex-grow: 4;
}

.avatar {
    max-width:10%;
    height:auto;
}
/* regleaza continutul fiecărei pagini. Atenție! */
#content {
    padding: 1rem;
}

/* NAVBAR */
.navbar-brand img {
    height: 2rem;
}

/* === LANDING PAGE IMAGE === */
.home-inner {
    /* background-image: url("/img/15144968188_c6938eb1a3_b.jpg"); */
    /* background-image: url("/img/black-1072366_1920.jpg"); */
    background-image: url("/alpha/img/focus-photo-of-4-wooden-pawn-figurine-209728.jpg");
    /* Imagine de la https://www.pexels.com/photo/focus-photo-of-4-wooden-pawn-figurine-209728/ */
    
    /* Adaug efect de blur */
    filter: blur(4px);
    -webkit-filter: blur(4px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Modelarea textului din landing page */
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    /* top: 20%; */
    top: 15%;
    z-index: 1;
}
.caption h1 {
    color: white;
    /* font-size: 4.5rem; */
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption p {
    color: white;
    /* font-size: 2rem; */
    font-size: large;
    /* text-transform: uppercase; */
    font-weight: 300;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
}

/* === AFIȘAREA RESURSELOR ALESE ===*/
.narrow {
    /* width: 75%; */
    margin: 0 auto;
    padding: 2rem;
}

/* Containerul în care se afișează resursele interne */
.resurse {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-position: center;
    /* padding: 1rem 0 1rem; */
    margin: 0 auto;
    z-index: 10;
}

.units {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* === UNIT - modelare === */
.unit {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: top;
    width: 25rem;
    height: 25rem;
    margin: .8rem;
    padding: .2rem;
    box-sizing: border-box;
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* === UNIT - header === */
.unit-header {
    width: 100%;
}

.unit-title {
    max-height: 4.5rem;
    background-color: #ebe6e6;
    border-radius: .2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    color:#4972a0;
}

.unit-title a {
    text-decoration: none;
}

/* === UNIT - body === */
.unit-body {
    height: 13.5rem;
    display: flexbox;
    padding: .2em;
    overflow: hidden;
}

.unit-body aside {
    width: 40%;
    float: left;
    border-radius: 50%;
    margin-right: .5rem;
    margin-bottom: .2rem;
}

.unit-body aside div img {
    max-width: 100%;
    max-height: 100%;
}

/* Sunt imaginile suprapuse care apar atunci când unit-ul nu are copertă */
.unit-visuals {
    width: 40%;
    height: 5rem;
}

/* este imaginea de sub logo */
.unit-default-visual {
    position: relative;
    background-position: center center;
    background-size: cover;
}

/* logo-ul care este pozitionat deasupra primei imagini; la centru */
.unit-default-visual-logo{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit-grading {
    text-align: center;
    color: #FDCB0B;
}

.unit-description {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

/* === UNIT footer === */
.unit-footer {
    width: 100%;
    max-height: 5rem;
    border-radius: .3rem;
    background-color: rgb(241, 242, 249);
    overflow: hidden;
}

.unit-footer a:hover{
    color:#888;
}

/* UNIT 4 LOG */
.unit4log {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    vertical-align: top;
    width: 25rem;
    height: auto;
    max-height: 25rem;
    margin: .8rem;
    padding: .2rem;
    box-sizing: border-box;
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.unit4log-body {
    height: fit-content;
    min-height: 5rem;
    display: flexbox;
    padding: .2em;
    overflow: hidden;
}

.firstlogimg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
}

.firstlogimg img {
    display: block;
}

.unit4log-info {
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

.unit4log-description {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.unit4log-title {
    display: flex;
    justify-content: space-between;
    max-height: 4.5rem;
    padding-left: .5rem;
    background-color: #ebe6e6;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    
}

.unit4log-title a {
    color:#f8a306;
    text-decoration: none;
}

.unit4log-trash {
    position: relative;
    display: block;
    font-size: small;
    color:crimson;
}

.unit4log-descr-img {
    height: auto;
    float: left;
}

.unit4log-footer {
    margin-top: auto;
    min-height: 1.8rem;
    padding: .2rem;
    background-color: #f7f3f3;
}

/* AFISAREA INDIVIDUALA A UNUI LOG */
.logtitle h3 a {
    text-decoration: none;
    color:#f8a306;
}

/* ==== BADGE ==== */
.badge-info{
    background: #efefef;
    color:#666;
}

/* === Semnalarea validării === */
.validred {
    background-color: lightgreen;
}

.invalidred {
    background-color: gold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* === MODELAREA TABELULUI pentru afișarea competențelor === */
.helperIcon {
    background: url('../img/details_open.png') no-repeat center center;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 2rem;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

/* PAGINA TIPOLOGIILOR DE RESURSE */
.rtypes {
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

.restype {
    width: 10rem; 
    height: 8rem;
}

/* === INTRODU RESURSĂ - FRM01 === */

#doi, #trei, #patru {
    display: none;
}

/* PASUL 1 formular adăugare resursă */
.frm01-lang-opt {
    background-color:rgba(226, 222, 222, 0.6);
}

/* Modelarea limbilor suplimentare */
#langAlternative {
    margin-left: .4rem;
    margin-right: .4rem;
}

.langalt {
    margin-bottom: .4rem;
}

/* FORM01 :: PAS 2 :: FORMAREA BUTOANELOR DISCIPLINELOR */

.disciplina {
    margin: .2rem;
}
    
/* FORMAREA OPȚIUNILOR LA MOMENTUL ALEGERII DISCIPLINELOR */
#multilevdisc {
    display: flex;
    border-top: #999 solid .1rem;
    padding: .3rem;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#v-pills-tabContent {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    position: relative;
    margin-left: 2rem;
}

/* FORM01 :: ELEMENTELE DE SECȚIE PENTRU DISCIPLINE */

/* div[class^="cl"] {
    
} */

/* linkurile care apar ca elemente de nav */
a.nav-link {
    margin: .2rem .3rem .2rem;
}
/* === CULORI DISCIPLINE::BADGES === */
.cl0, a.nav-link.cl0 {
    background-color: rgba(76, 243, 34, 0.623);
}

.cl1, a.nav-link.cl1  {
    background-color: rgba(91, 189, 202, 0.65);
}

.cl2, a.nav-link.cl2  {
    background-color: rgba(155, 64, 167, 0.562);
}

.cl3, a.nav-link.cl3  {
    background-color: rgba(216, 96, 59, 0.548);
}

.cl4, a.nav-link.cl4  {
    background-color: rgba(69, 224, 165, 0.7);
}

.cl5, a.nav-link.cl5  {
    background-color: rgba(222, 224, 71, 0.7);
}

.cl6, a.nav-link.cl6  {
    background-color: rgba(85, 156, 18, 0.527);
}

.cl7, a.nav-link.cl7  {
    background-color: rgba(129, 12, 12, 0.397);
}

.cl8, a.nav-link.cl8  {
    background-color: rgba(207, 43, 133, 0.486);
}

/* 
* GESTIONAREA SELECTORULUI DE IMAGINE COPERTĂ - FORM 01 
*/
.nopad {
    float: left;
    margin: 0 0.8rem;
}

/* FORM01 :: GALERIA DE IMAGINI */
.image-checkbox {
    position: relative;
	cursor: pointer;
    height: 8rem;
    width: 8rem;
}

/* Fiecare element din galeria de imagini */
.img-responsive {
    border-color: #999;
    padding: .3rem;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

/* Ascunde checkboxul original */
.image-checkbox input[type="checkbox"] {
	display: none;
}

/*Evidențiază selecția imaginii printr-un chenar*/
/* .image-checkbox-checked .fa-check .fa-camera{ */
.image-checkbox .bi-check-circle-fill {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: #4A79A3;
    background-color: #fff;
    border-radius: 50%;
}

.image-checkbox-checked {
    display: block !important;
    position: absolute;
    top: 1%;
    left: 1%;
    border-radius: 50%;
    background-color: #28a745;
}

.image-checkbox-checked ~ .bi-check-circle-fill {
    color: #28a745;
}

/* 
* ETICHETELE - FORM 01 
*/
#tags {
    padding: 0.3rem;
}

/* CLASA tag */
.tag {
    display: inline-block;
    padding: .3rem;
    margin-left: .5rem;
    background-color: #d1ecf1;
    border-radius: .4rem;
}

.tag > span {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tag a {
    display: inline-block;
    text-decoration: none;
    color: #ffae00 !important;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 0 0 0.3em;
}

.tag a:hover {
    opacity: 1.0;
    color: rgb(255, 137, 1) !important;
}

.tag .remove {
    top: 0;
}

.smalltag {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding: .3rem;
    margin-left: .1rem;
    color:crimson;
    background-color: #fdfc9c;
    border-radius: .4rem;
}

.smalltag a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

/* === CĂUTARE FAȚETATĂ === */

.selector {
    display: flex;
    flex-wrap: wrap;
}

.fatete, 
.selectortxt {
    color: beige;
}

.fatete {   
    padding: 0.3rem;
    z-index: 5000;
}

#selectlevel {
    padding: 0px;
    position: relative;
}

#valoareclasa {
    display: block;
    color: #777;
}

.facet {
    /* text-decoration: none;
    color: black; */
    margin: .2rem;
    font-family: inherit;
}

.drpdwnmenucontent {
    margin: 0 auto;
    font-size: smaller;
}

/* === CĂUTARE FAȚETATĂ [END] === */

/* TRATAREA LOGURILOR */
.logentry {
    border: .1rem;
    border-style: solid;
}

/* ==== GESTIONAREA EDITORULUI ==== */
#codex-editor {
    border: .1rem;
    min-height: 5rem;
}

.codex-editor--empty {
    min-height: 15rem;
    border-color: #c2c2c2;
}

.codex-editor__redactor {
    padding-bottom: 1rem !important;
}

.codex-editor {
    background-color: #EEE;
}

/* ==== GESTIONAREA EDITORULUI [END] ==== */

#form03 {
    margin: 0 auto;
    padding: 2rem;
}

#submitWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
}

/* === ZONA DE ADMINISTRARE === */
#searchU {
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

#contributii {
    position: relative;
    height: auto;
}

#showusers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: absolute;
    top: 0;
    left: 0; */
}

#showusers {
    height: 8rem;
    min-width: 15rem;
}

.admUdesc__avatar {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.admUview {
    /* display: flex; */
    background-color: rgba(255, 255, 255, .6);
    border-radius: .4em;
    margin: 1rem 2rem;
    padding: 1.5rem;
}

.resurseUser {
    display: flex;
    align-self: center;
    align-items: space-between;
}

.last_contributed {
    border: 1px solid black;
    padding: .2rem;
    margin: .4rem;
}

.admUsesc__admUroles {
    margin: 1rem;
}

.admUsesc__admUroles--role, .admUsesc__admUroles--unit {
    margin: .5rem;
}

.admUview {
    z-index: 150;
}

/* GESTIONAREA TIMELINE-ULUI DIN ADMINISTRATOR */

#timeline-embed {
    width: 100%;
    height: 32rem;
}

.tl-timenav {
    background-color: beige;
}

/* === RESURSĂ UNICĂ AFIȘATĂ === */
.resursa {
    background-color: transparent;
}

/* TABEL RESURSE PENTRU UN USER */
#resurseTab, #compsTab {
    background-color: rgba(255, 255, 255, .6);
    border-radius: .4em;
    padding: 1rem;
    margin: 1rem;
    /* width: 100%; */
}

/* EDITOR.JS */

/* Header plugin */
/* Plugin styles */
.ce-header {
    padding: 1em 0;
    margin: 0;
    margin-bottom: -0.9em;
    line-height: 1.5em;
    outline: none;
}

.ce-header p,
.ce-header div{
    padding: 0 !important;
    margin: 0 !important;
}

/* Styles for Plugin icon in Toolbar */
/* .ce-header__icon {} */

.ce-header[contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
    display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
    display: none;
}

/* PARAGRAPH */

.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}

.ce-paragraph[data-placeholder]:empty::before{
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
    opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
    opacity: 0;
}

.ce-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-paragraph p:last-of-type{
    margin-bottom: 0;
}

/* QUOTE */

.cdx-quote-icon svg {
    transform: rotate(180deg);
}

.cdx-quote {
    margin: 0;
}

.cdx-quote__text {
    min-height: 158px;
    margin-bottom: 10px;
}

/* .cdx-quote__caption {} */

.cdx-quote [contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty::before {
    opacity: 1;
}

.cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
    opacity: 0;
}


.cdx-quote-settings {
    display: flex;
}

.cdx-quote-settings .cdx-settings-button {
    width: 50%;
}

/* Modul restats */
#restats {
    display: flex;
    padding: 0.5rem;
    margin: 0 auto;
}

.stats__article {
    position: relative;
    border: #707684 solid;
    margin: 0 0.2rem;
    padding: 0.3rem;
}

.stat__figure {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* Gestionarea formularelor Gform */
.gform {
    width: 50rem;
    height: 100rem;
}

.freebirdFormviewerViewEmbedded {
    padding-top: 10rem;
}

/* CATALOAGE PE LANDING */
#cataloage {
    padding: 0.3rem;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* === TABELE http://localhost:3000/administrator/... ==== */
#visuals {
    height: 100%;
}

#content .title {
    /* color: white; */
    margin-top: 1rem;
    margin-left: 3rem;
}

.tableDisplay {
    font-size: small;
    font-weight: 200;
}

.dt-avatar {
    /* margin: auto 0; */
    text-align: center;
}

/* GESTIONARE INFOTOKENS */
#tools {
    display: flex;
}

.infotoken {
    width: 20rem;
    margin: .3rem;
}

.infotoken__head {
    position: relative;
}

.infotoken__head__cover img {
    width: 20rem;
    border-radius: .8rem;
}

.infotoken__head__cover--nr {
    background-color: olive;
    color: white;
    position: absolute;
    top: -.8rem;
    right: 0;
    padding: .3rem;
    border-radius: .4rem;
}

/* === SEARCH în RESURSE === */
.searchFrm {
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

/* === STAREA RESURSELOR LA ADMINISTRARE === */
.resvalid, .resinvalid, .redpublic {
    font-size: larger;
}

.resvalid {
    color: yellow;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}


.resinvalid {
    color: red;
}  

.respublic {
    color: green;
}

.restitle {
    font-weight: bolder;
}

/* === GESTIONARE TABELE cu formuri === */

.formtbls thead th {
    padding: 2rem;
}

/* FORMATAREA AFIȘĂRII UNEI RESURSE PUBLICULUI */

.comprespub {
    padding: .5rem;
}

.descrres {
    display: flex;
}

.descrres p {
    margin-left: .2rem;
}

.discsrespub i {
    color: black;
}

/* MANSONRY */
.masonry { /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

/* PROFILE - LANDING */
#profile {
    margin: 3rem;
}

/* CĂUTARE :: SEARCH*/
#searchinternal {
    background-color: #c2c2c2;
    display: flex;
    flex-wrap: wrap;
}

#fatetata {
    background-color:lavender;
}

.searchfield {
    padding: 0.5rem;
}

#selector {
    z-index: 100;
}

/* #discipline {
    background-color: whitesmoke;
} */

#disciplineselectate {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

/* === CĂUTARE FAȚETATĂ - BUTOANE TAGURI === */
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.disctag {
    position: relative;
    display: block;
    padding: .3rem;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.disctag:active,
.disctag:visited {
    color: #777;
}

.disctag p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.disctag .iconATag {
    position: absolute;
    top: 0;
    right: 0;
}

.disctag .iconATag .fa {
    vertical-align: middle;
}

.disctag:hover {
    opacity: .9;
    text-decoration: none;
    overflow: hidden;
}

.disctag:hover p {
    left: -80%;
    opacity: 0;
    text-decoration: none;
    transition: all 1.2s cubic-bezier(0.31, -0.105, 0.43, 1.4) ease-out;
}

.disctag:hover .fa-times {
    width: 100%;
    font-size: 3vw;
    align-content: center;
    vertical-align: middle;
    color: #fff;
    background-color: red;
    /* transition: all 2s cubic-bezier(0.31, -0.105, 0.43, 1.4) ease-in; */
    animation: fadeInFromNone .6s ease-in;
}

.disctag:active {
    opacity: 1;
}

/* BUTONUL DE CAUTARE FAȚETATĂ */

#btnCautaFatetat {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(238, 242, 245);
}

#searchF .btn-success {
    width: 6rem;
    background-color: #28a745 !important;
}

/* === GESTIONAREA rezultatelor de căutare fațetată === */
#searchRes {
    padding: 1rem 0;
}

#noPg {
    width: 100%;
}

/* Rezultate aduse din Elasticsearch (template `searchresult`)*/
#primare {
    padding: .5rem;
}

.result {
    max-width: 100%;
    background-color: whitesmoke;
    padding: .4rem;
    margin-bottom: .3rem;
}

.result .autori {
    font-style: italic;
    color: dodgerblue;
}

.result a {
    text-decoration: none !important;
}

/* === FORM01 :: Adaugă resursă (RED) === */
#form01adres {
    margin-top:50px;
    background:none;
    height: 100%;
    text-decoration: none;
}

.starting-heading {
    padding: 1.5rem;
}

.starting-heading p {
    margin-bottom: 0;
}


/* == PROGRESSBAR :: Adăugare RED */
#progressBar {
    width: 100%;
}

#progressBar:after{
    content:"";
    clear:both;
    display:block;
}

#progressBar > div{
    width: 24.2%;
    display: inline-block;
    margin-right:0.5%;
    margin-left:0.5%;
    height: 100%;
    text-align: center;
    border-bottom: 10px solid #c2c2c2;
    color: #c2c2c2;
    float: left;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

#progressBar > div:first-child{
    margin-left:0;
}
#progressBar > div:last-child{
    margin-right:0;
}
#progressBar > div.active{
    border-bottom-color: #2d4f75;
    color: #2d4f75;
}
.progress.progress-custom{
    background:none;
    line-height: initial;
    display: block;
    overflow: visible;
    height:100% !important;
}

#csuri{
    width: 100%;
    padding: 15px;
}

#submitWrap{
    display:block;
    /*text-align:right;*/
}
#submitWrap > div > button:first-child{
    margin-right:15px;
}
.editor-wrapper{
    width:100%;
}
#editor-livresq{
    margin:20px 0;
}

.search-form .btn-success,
.search-form .btn-success:hover,
.search-form .btn-success:active,
.search-form .btn-success:focus,

.accordion-frame .btn-success,
.accordion-frame .btn-success:hover,
.accordion-frame .btn-success:active,
.accordion-frame .btn-success:focus{
    background-color:#2d4f75 !important;
    border-color: initial !important;
}

.search-form .btn-success:hover,
.search-form .btn-success:active,
.search-form .btn-success:focus,
.search-form .btn-success:hover,
.search-form .btn-success:active,
.search-form .btn-success:focus{
    box-shadow: 0 0 0 .2rem rgba(45,79,117,.5) !important;
}

.search-form{
    /* taken from searchFrm */
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
.search-form > div > div {
    margin-top: 10px;
}
#searchResIntBtn{
    margin-left:10px;
}

#txthead{
    background: none;
    width: 50%;
    animation-delay: 0.5s;
    text-align: center;
    margin: auto !important;
}

#txthead > p{
    background:rgba(0,0,0, 0.3);
    padding:10px;
}

#txthead > p:last-child{
    background:rgba(0,0,0, 0.8);
    padding:10px;
}

.home-inner.caption.text-center{
    filter: initial;
    -webkit-filter: initial;
    padding-top: 100px;
    position: static;
    padding-bottom:10px;
}

.livresq-buttons > div {
    display: inline-block;
}

.editor-wrapper{
    margin-top:20px;
}

#genericModal {
    background-color: rgba(0,0,0,.2);
}

#genericModal .modal-body{
    text-align: center;
}

#genericModal .modal-header{
    background: #275382;
    color: #fff;
}
#genericModal .close{
    color: #fff;
}

.cardx .card-header{
    padding:2rem 0;
}
.cardx .card-header h5{
    color:#000;
}
.cardx .card-body{
    height:auto;
    padding:1rem 0;
}
.cardx .card-body > div{
    padding: 1rem;
}
.cardx .card-body > div:nth-child(even) {
    background: #f0f0f0;
}
.cardx .card-body > div:nth-child(odd) {
    background: #f9f9f9;
}

.cardx .card-header .collapsed .rotate-icon{
    transform: rotate(0deg);
}
.cardx .card-header .rotate-icon{
    transform: rotate(90deg);
}
.content-res{
    margin:2rem 0;
}
.content-res > h5{
    padding-bottom:2rem;
}

/* Gestionarea login-ului și a signup-ului*/
#localogin, #localsignup {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: rgb(233, 232, 232);
}

/* BS4 MODALS FIX!!! */
.modal { 
    background: rgba(0, 0, 0, 0.8);
}

/* FIX necesar pentru modale */
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

.salut {
    color: white;
}

/* Aprecierea unei resurse */
.apreciere {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* SPECIFIC MODULULUI SVG STARS */
.jq-stars {
    display: inline-block;
  }

.jq-rating-label {
    font-size: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: helvetica, arial, verdana;
}

.jq-star {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
}

.jq-star-svg {
    padding-left: 3px;
    width: 100%;
    height: 100% ;
}
/* 
.jq-star:hover .fs-star-svg path {
} */

.jq-star-svg path {
    /* stroke: #000; */
    stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
    -webkit-filter: drop-shadow( -2px -2px 2px #888 );
    filter: drop-shadow( -2px -2px 2px #888 );
}

/* TOOLTIP */
.text-info {
    font-size: 2rem; 
    color: cornflowerblue;
}