/* Containerul resurselor expuse */
.resurse {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-position: center;
    padding: 1rem 0 1rem;
    margin: 0 auto;
    z-index: 10;
}

.units {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .3rem;
    grid-gap: .3rem;
}

/* === UNIT - modelare === */
.unit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: top;
    /* display: grid;
    grid-template: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: .1rem; */

    margin: .5rem;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: .3rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */

    /* grid-template-rows: 
        "unit-header"
        "unit-body"
        "unit-footer"; */
}

/* === UNIT - header === */
.unit-header {
    /* grid-area: unit-header; */
    width: 100%;
}

.unit-title {
    max-height: 4.5rem;
    background-color: #ebe6e6;
    border-radius: .2rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

/* TITLUL */
.unit-title a,
.unit-title a:link {
    text-decoration: none;
    /* text-decoration-color: #888!important; */
    color:rgba(206, 32, 250, 0.534);
}

.unit-title a:hover {
    color:rgba(150, 0, 150, 0.699);
}

/* === UNIT - body === */
.unit-body {
    /* grid-area: unit-body; */
    height: 13.5rem;
    display: flexbox;
    padding: .2em;
    overflow: hidden;
}

/* IMAGINEA */
.unit-body aside {
    float: left;
    margin: .2rem .2rem;
}

.unit-body aside div img {
    max-width: 100%;
    max-height: 100%;
}

/* Sunt imaginile suprapuse care apar atunci când unit-ul nu are copertă */
.unit-visuals {
    width: 40%;
    height: 5rem;
}

/* este imaginea de sub logo */
.unit-default-visual {
    position: relative;
    background-position: center center;
    background-size: cover;
}

/* ILUSTRAREA RESURSEI */
.res-ilustration {
    border-radius: 50%;
    max-height: 5rem;
    padding: .1rem;
}

.res-ilustration-substitute {
    position: relative;
    height: 100px;
}

/* logo-ul care este pozitionat deasupra primei imagini; la centru */
.res-ilustration-substitute__logo{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit-description-text {
    /* overflow: hidden;
    text-overflow: ellipsis; */
    overflow-wrap: break-word;
}

/* === UNIT footer === */
.unit-footer {
    /* grid-area: unit-footer; */
    width: 100%;
    max-height: 5rem;
    border-radius: .3rem;
    background-color: rgb(241, 242, 249);
    /* overflow: hidden; */
}

.unit-footer a:hover{
    color:#888;
}